{{extend 'layout.html'}}
{{=form}}
<script src={{=URL('static', 'js/select2.min.js')}}></script>
<link href={{=URL('static', 'css/select2.css')}} rel="stylesheet">
<script>
jQuery(document).ready(function(){
   jQuery('#projects_team_wanted__row').hide();
   jQuery('#projects_other_wanted__row').hide();
   jQuery('#projects_wanting_team').change(function(){
        if(jQuery('#projects_wanting_team').attr('checked'))
            jQuery('#projects_team_wanted__row').show();
        else jQuery('#projects_team_wanted__row').hide();});
   jQuery('#projects_wanting_other').change(function(){
        if(jQuery('#projects_wanting_other').attr('checked'))
            jQuery('#projects_other_wanted__row').show();
        else jQuery('#projects_other_wanted__row').hide();});
});

function MultiAjaxAutoComplete(element, url) {
    $(element).select2({
        placeholder: "Search for a user",
        minimumInputLength: 1,
        multiple: true,
        formatNoMatches: function(){return "No results"},
        formatSearching: function(){return "Searching..."},
        formatInputTooShort: function(){return "Too short"},

        id: function(e) { return e.id+":"+e.title; },
        ajax: {
            url: url,
            dataType: 'json',
            data: function(term, page) {

                return {
                    q: term,
                    page_limit: 10,
                };
            },
            results: function(data, page) {
                return {
                    results: data.users
                };
            }
        },
        formatResult: formatResult,
        formatSelection: formatSelection,
        initSelection: function(element, callback) {
            var data = [];
            $(element.val().split(",")).each(function(i) {
                var item = this.split(':');
                data.push({
                    id: item[0],
                    title: item[1]
                });
            });
            callback(data);
        }
    });
};

var url = "{{=URL(r=request,f='call',args=['json','get_users'])}}";

MultiAjaxAutoComplete('#projects_team', url);

function formatResult(user) {
    return '<div>' + user.title + '</div>';
};

function formatSelection(data) {
    return data.title;
};

</script>