{{extend 'layout_rede.html'}}

<h1>Criar Projeto</h1>

<section class="col col_edit_perfil_topo span_12 f-left">
    <figure class="span_3 col">
        <img src="" class="cursor-hand" title="Preencha seus dados pessoais" data-img-fase="1">
    </figure>
    <figure class="span_3 col">
        <img src="" class="cursor-hand" title="Escolha um avatar e fale sobre você" data-img-fase="2">
    </figure>
    <figure class="span_3 col">
        <img src="" class="cursor-hand" title="Fale sobre suas habilidades profissionais" data-img-fase="3">
    </figure>
    <figure class="span_3 col">
        <img src="" class="cursor-hand" title="Formas de contato e suas redes sociais" data-img-fase="4">
    </figure>
</section>
<img src="{{=URL('static','images/Edit_perfil/barra_editar_perfil.png')}}" title="" class="w-full f-left">

<section class="col col_edit_perfil_formulario span_12 f-left">
    <!-- Inicio do formulário (tudo aqui dentro forma um unico formulário) -->
        <section data-fase="1" data-fase-atual="true" class="col span_12 f-left edit_perfil_fases">
            <section class="span_5 col colunas">
                {{=form}}
            </section>
            <section class="span_1 col span_vazio"></section>
            <section class="span_6 col colunas"></section>
            <div class="span_6 col f-right t-right">
                <input type="button" class="btn-1 f-right w-40 btn-nav" data-irParaFase="2" value="Avançar">
                <br>
                <br>
                <br>
                <span class="t-right">
                    <a href="user_info">Quero Kolaborar agora e completar o perfil mais tarde</a>
                </span>
            </div>
        </section>
</section>


<script src="{{=URL('static','plugins/Avatar_Upload_DragInDrop/resample.js')}}"></script>
<script src="{{=URL('static','plugins/Avatar_Upload_DragInDrop/avatar.js')}}"></script>
<script src="{{=URL('static','plugins/select2-3.4.8/select2.js')}}"></script>





















<script src={{=URL('static', 'js/select2.min.js')}}></script>
<link href={{=URL('static', 'css/select2.css')}} rel="stylesheet">
<script>
jQuery(document).ready(function(){
   jQuery('#projects_team_wanted__row').hide();
   jQuery('#projects_other_wanted__row').hide();
   jQuery('#projects_wanting_team').change(function(){
        if(jQuery('#projects_wanting_team').attr('checked'))
            jQuery('#projects_team_wanted__row').show();
        else jQuery('#projects_team_wanted__row').hide();});
   jQuery('#projects_wanting_other').change(function(){
        if(jQuery('#projects_wanting_other').attr('checked'))
            jQuery('#projects_other_wanted__row').show();
        else jQuery('#projects_other_wanted__row').hide();});
});

function MultiAjaxAutoComplete(element, url) {
    $(element).select2({
        placeholder: "{{=T('Search for a user')}}",
        minimumInputLength: 1,
        multiple: true,
        formatNoMatches: function(){return "{{=T('No results')}}"},
        formatSearching: function(){return "{{=T('Searching...')}}"},
        formatInputTooShort: function(){return "{{=T('Too short')}}"},

        id: function(e) { return e.id+":"+e.title; },
        ajax: {
            url: url,
            dataType: 'json',
            data: function(term, page) {

                return {
                    q: term,
                    page_limit: 10,
                };
            },
            results: function(data, page) {
                return {
                    results: data.users
                };
            }
        },
        formatResult: formatResult,
        formatSelection: formatSelection,
        initSelection: function(element, callback) {
            var data = [];
            $(element.val().split(",")).each(function(i) {
                var item = this.split(':');
                data.push({
                    id: item[0],
                    title: item[1]
                });
            });
            callback(data);
        }
    });
};

var url = "{{=URL(r=request,f='call',args=['json','get_users'])}}";

MultiAjaxAutoComplete('#projects_team', url);

function formatResult(user) {
    return '<div>' + user.title + '</div>';
};

function formatSelection(data) {
    return data.title;
};

</script>
