{{extend 'layout_rede.html'}}
<input type="hidden" id="edit-project">

<h1>EDITAR PROJETO</h1>

<section class="col col_edit_perfil_topo span_12 f-left">
    <figure class="figureStage f-left col span_4">
        <img src="" class="cursor-hand" title="Preencha seus dados pessoais" data-img-fase="1">
    </figure>
    <figure class="figureStage f-left col span_4">
        <img src="" class="cursor-hand" title="Escolha um avatar e fale sobre você" data-img-fase="2">
    </figure>
    <figure class="figureStage f-left col span_4">
        <img src="" class="cursor-hand" title="Fale sobre suas habilidades profissionais" data-img-fase="3">
    </figure>
</section>
<img src="{{=URL('static','images/Edit_perfil/barra_editar_perfil.png')}}" title="" class="w-full f-left">

<section class="col col_edit_perfil_formulario span_12 f-left">
<!-- Inicio do formulário (tudo aqui dentro forma um unico formulário) -->
    {{=form.custom.begin}}
    <!--<form id="formulario_edit_projeto">-->
        {{form.custom.widget.name['_required'] = 'required'}}
        {{form.custom.widget.name['_class'] = 'form-input-comum w-full'}}
        {{form.custom.widget.name['_placeholder'] = T('Project Name')}}

        {{form.custom.widget.project_type['_class'] = 'input-select w-full'}}

        {{form.custom.widget.short_description['_class'] = 'form-input-comum w-full bio'}}
        {{form.custom.widget.short_description['_data-limite-id'] = 'bioCurta'}}
        {{form.custom.widget.short_description['_data-limite'] = '400'}}
        {{form.custom.widget.short_description['_placeholder'] = 'Aqui vem uma Bio curta'}}

        {{form.custom.widget.description['_class'] = 'form-input-comum w-full bio'}}
        {{form.custom.widget.description['_data-limite-id'] = 'bioLonga'}}
        {{form.custom.widget.description['_data-limite'] = '1000'}}
        {{form.custom.widget.description['_placeholder'] = 'Aqui vem uma Bio completa'}}
        
        {{form.custom.widget.wanting_team['_id'] = 'BuscandoKolaboradores'}}
        {{form.custom.widget.wanting_team['_data-bloco'] = 'blocokolaboradores'}}

        {{form.custom.widget.wanting_other['_id'] = 'BuscandoOutros'}}
        {{form.custom.widget.wanting_other['_data-bloco'] = 'blocoOutros'}}

        {{form.custom.widget.project_mail['_class'] = 'form-input-comum w-full'}}
        {{form.custom.widget.project_mail['_placeholder'] = T('Email Project')}}
        
        {{form.custom.widget.project_site['_class'] = 'form-input-comum w-full'}}
        {{form.custom.widget.project_site['_placeholder'] = T('Project Site')}}
        
        {{form.custom.widget.video_url['_class'] = 'form-input-comum w-full'}}
        {{form.custom.widget.video_url['_placeholder'] = 'https://www.myvideo.com/'}}
        
        {{form.custom.widget.phone['_class'] = 'form-input-comum w-50'}}
        {{form.custom.widget.phone['_placeholder'] = T('Phone')}}
        
        {{form.custom.widget.slideshare_url['_class'] = 'form-input-comum w-full'}}
        {{form.custom.widget.slideshare_url['_placeholder'] = 'http://slideshare.net/you'}}
        
        {{for i in form.custom.widget.project_links[0]:}}
            {{i[0]['_class'] = 'form-input-comum w-full'}}
            {{i[0]['_placeholder'] = 'http://myprojectlinks.com'}}
        {{pass}}


        <section data-fase="1" data-fase-atual="true" class="col span_12 f-left edit_perfil_fases">
            <section class="span_1 col span_vazio"></section>
            <section class="span_4 col colunas">
                <span class=" h2 f-left">Nome do Projeto</span>
                <section class="section-form">
                    {{=form.custom.widget.name}}
                </section>
                <!-- Tipo de Projeto -->
                <span class=" h2 f-left w-full">Tipo de Projeto</span>
                <section class="section-form">
                    <label class="select w-50 form-input-comum form-select">
                       {{=form.custom.widget.project_type}}
                    </label>
               </section>
               <!-- Avatar -->
               <span class=" h2 f-left">Avatar</span>
               <section class="section-form f-left branco t-center" data-section-avatar>
               <label class="profile-avatar-wrap">
                   {{ if project.image: }}
                     <img src="{{=URL('download', args=[project.image])}}" id="profile-avatar" alt="Image for Profile">
                   {{ else: }}
                     <img src="{{=URL('static','images/Edit_perfil/AvatarDefault.png')}}" id="profile-avatar" alt="Image for Profile">
                   {{ pass }}
                    <input type="file" name="image" class="d-none" id="uploader">
                    <input type="hidden" value="" id="hidden-avatar">
                </label>
                <p class="paragrafo2 descriptionAvatar">
                    Arraste uma imagem ou clique para escolher a foto que será exibida em seu perfil. Para alterar a foto basta clicar na imagem atual. 
                </p>
                <p class="paragrafo2 descriptionAvatar">
                    A imagem deve ser nos formatos jpg ou png.
                </p>
            </section>
        </section>
        <section class="span_1 col span_vazio"></section>
        <section class="span_6 col colunas">
            <span class=" h2 f-left">Descrição curta do projeto</span>
            <section class="section-form w-full f-left">
                {{=form.custom.widget.short_description}}
                <p class="paragrafo2 f-left descriptionBio">Limite de <span id="bioCurta">400</span> Caracteres </p>
            </section>
            <span class=" h2 f-left">Descrição longa do projeto</span>
            <section class="section-form w-full f-left">
                {{=form.custom.widget.description}}
                <p class="paragrafo2 f-left descriptionBio">Limite de <span id="bioLonga">1000</span> Caracteres </p>
            </section>
        </section>
        <div class="span_6 col f-right t-right espacamentoBottom">
            <input  type="button" class="btn-1 f-right w-40 btn-nav" data-irParaFase="2" value="Avançar">
        </div>
    </section>
    <section  data-fase="2" data-fase-atual="false" class="col span_12 f-left edit_perfil_fases">
            <section class="span_12 col f-left">
                <section class="span_6 col">
                    <span class=" h2 f-left">Adicionar Kolaboradores</span>
                    <section class="section-form">
                        {{=project.team}}
                        <input type="text" id="project_team" name="team">
                    </section>
                </section>
                <section class="span_6 col span_vazio"></section>
            </section>
            <section class="span_12 row colunas t-center contorno f-left" id="blockMember">
                
                <figure class="thumbnail-member span_2 col">
                    <img src="http://placehold.it/100x100" alt="">
                    <span class="thumbnail-delete">X</span>
                    <figcaption class="bold">Nome</figcaption>
                    <span class="italic">Cargo</span>
                </figure>
               
                
            </section>

            <!-- Espaço de on e off e busca de profissinais -->
            <section class="span_12 row colunas f-left contorno">
                <section class="span_6 col">
                    <!-- Checkbox -->
                    <div class="span_12 col">
                        <span class=" h2 f-left">Buscando Kolaboradores</span>
                    </div>
                    <section class="section-form span_3 col">
                        <div class="checkbox form-select verdeAgua2" data-div-label="BuscandoKolaboradores">
                            {{=form.custom.widget.wanting_team}}
                            <label for="BuscandoKolaboradores" data-checkbox-label="BuscandoKolaboradores" class="verdeAgua"></label>
                        </div>
                    </section>
                    <!-- Campos -->
                    <section class="span_12 col" id="blocokolaboradores">
                        <!-- select-edit-perfil -->
                        <h3 class="h3">Selecione o tipo de profissional que procura</h3>
                        <div>
                            <label class="select w-40 form-input-comum f-left select-edit-perfil">
                                <select class="input-select w-full" id="buscaKolaborador" name="buscaKolaborador">
                                    <option value="1">Selecione Profissões</option>
                                    <option value="2">Desenvolvedor</option>
                                    <option value="3">Designer</option>
                                <select>
                            </label>
                            <button type="button" class="btn-submit" name="buscaKolaborador">+</button>
                        </div>
                        <section id="profissionalList" class="w-full f-left">
                        </section>
                    </section>
                </section>
                <section class="span_6 col">
                       <!-- Checkbox -->
                    <div class="span_12 col">
                        <span class=" h2 f-left">Buscando Outros</span>
                    </div>
                    <section class="section-form span_3 col">
                        <div class="checkbox form-select verdeAgua2" data-div-label="BuscandoOutros">
                            {{=form.custom.widget.wanting_other}}
                            <label for="BuscandoOutros" data-checkbox-label="BuscandoOutros" class="verdeAgua"></label>
                        </div>
                    </section>
                    <!-- Campos -->
                    <section class="span_12 col" id="blocoOutros">
                        <h3 class="h3">Selecione o tipo de profissional que procura</h3>
                        <!-- select-edit-perfil -->
                        <div>
                            <label class="select w-40 form-input-comum f-left select-edit-perfil">
                                <select class="input-select w-full" id="buscaOutros" name="buscaOutros">
                                    <option value="1">Selecione Profissões</option>
                                    <option value="2">Desenvolvedor</option>
                                    <option value="3">Designer</option>
                                <select>
                            </label>
                            <button type="button" class="btn-submit" name="buscaOutros">+</button>
                        </div>
                        <section id="buscaOutrosbloco" class="w-full f-left">
                        </section>
                    </section>
                </section>
            </section>

            <!-- botões de navegação -->
            <div class="span_6 col f-right t-right espacamentoBottom">
                <input type="button" class="btn-1 f-right w-40 btn-nav" data-irParaFase="3" value="Avançar">
                <input type="button" class="btn-2 f-right w-40 btn-nav" data-irParaFase="1" value="Voltar">
            </div>
    </section>
    <section  data-fase="3" data-fase-atual="false" class="col span_12 f-left edit_perfil_fases">
        <section class="span_6 col colunas">
            <section class="span_1 col span_vazio"></section>
            <section class="span_10 col colunas">
                <span class=" h2 f-left">Email do projeto</span>
                <section class="section-form">
                    {{=form.custom.widget.project_mail}}
                </section>
                <span class=" h2 f-left">Site do projeto</span>
                <section class="section-form">
                    {{=form.custom.widget.project_site}}
                </section>
                <span class=" h2 f-left">Video do projeto</span>
                <section class="section-form">
                    {{=form.custom.widget.video_url}}
                </section>
            </section>
            <section class="span_1 col span_vazio"></section>
        </section>
        <section class="span_6 col colunas">
            <section class="span_1 col span_vazio"></section>
            <section class="span_10 col colunas">
                <span class=" h2 f-left">Telefone</span>
                <section class="section-form col span_12">
                    {{=form.custom.widget.phone}}
                </section>
                <span class=" h2 f-left">Slideshare</span>
                <section class="section-form">
                    {{=form.custom.widget.slideshare_url}}
                </section>

                <span class=" h2 f-left">Outros links</span>
                <section class="section-form">
                {{=form.custom.widget.project_links}}
                </section>
                <section class="section-form t-right">
                    <input type="button" class="btn-1 w-30 btn-nav" value="Adicionar" id="adicionarLink">
                </section>
            </section>
            <section class="span_1 col span_vazio"></section>
        </section>
        <div class="span_6 col f-right t-right">
            <input type="button" class="btn-1 f-right w-40 btn-nav" data-irParaFase="4" value="Concluir">
            <input type="button" class="btn-2 f-right w-40 btn-nav" data-irParaFase="2" value="Voltar">
        </div>
    </section>
    {{=form.custom.end}}
    <!--</form>-->
</section>


<script>
    // var url = "{{=URL(r=request,f='call',args=['json','get_users'])}}";
    // $('#projects_team').select2({
        // placeholder: "{{=T('Search for a user')}}",
        // minimumInputLength: 1,
        // multiple: true,
        // formatNoMatches: function(){return "{{=T('No results')}}"},
        // formatSearching: function(){return "{{=T('Searching...')}}"},
        // formatInputTooShort: function(){return "{{=T('Too short')}}"},

        // id: function(e) { return e.id+":"+e.title; },
        // ajax: {
        //     url: url,
        //     dataType: 'json',
        //     data: function(term, page) {

        //         return {
        //             q: term,
        //             page_limit: 10,
        //         };
        //     },
        //     results: function(data, page) {
        //         return {
        //             results: data.users
        //         };
        //     }
        // },
        // formatResult: formatResult,
        // formatSelection: formatSelection,
        // initSelection: function(element, callback) {
        //     var data = [];
        //     $(element.val().split(",")).each(function(i) {
        //         var item = this.split(':');
        //         data.push({
        //             id: item[0],
        //             title: item[1]
        //         });
        //     });
        //     callback(data);
        // }
    // });
</script>

<script>
// jQuery(document).ready(function(){
//    jQuery('#projects_wanting_team').change(function(){
//         if(jQuery('#projects_wanting_team').attr('checked'))
//             jQuery('#projects_team_wanted__row').show();
//         else jQuery('#projects_team_wanted__row').hide();});

//    jQuery('#projects_wanting_other').change(function(){
//         if(jQuery('#projects_wanting_other').attr('checked'))
//             jQuery('#projects_other_wanted__row').show();
//         else jQuery('#projects_other_wanted__row').hide();});
// });

</script>
<script src={{=URL('static', 'js/select2.min.js')}}></script>
<link href={{=URL('static', 'css/select2.css')}} rel="stylesheet">

<script>
function MultiAjaxAutoComplete(element, url) {
    $(element).select2({
        placeholder: "{{=T('Search for a user')}}",
        minimumInputLength: 1,
        multiple: true,
        formatNoMatches: function(){return "{{=T('No results')}}"},
        formatSearching: function(){return "{{=T('Searching...')}}"},
        formatInputTooShort: function(){return "{{=T('Too short')}}"},

        id: function(e) { return e.id+":"+e.title; },
        ajax: {
            url: url,
            dataType: 'json',
            data: function(term, page) {

                return {
                    q: term,
                    page_limit: 10,
                };
            },
            results: function(data, page) {
                return {
                    results: data.users
                };
            }
        },
        formatResult: formatResult,
        formatSelection: formatSelection,
        initSelection: function(element, callback) {
            var data = [];
            $(element.val().split(",")).each(function(i) {
                var item = this.split(':');
                data.push({
                    id: item[0],
                    title: item[1]
                });
            });
            callback(data);
        }
    });
    $(element).on("click",function(){ 
        gravaAjaxEditProjeto(this);
    });
    
    


};

var url_busca_membro = "{{=URL(r=request,f='call',args=['json','get_user_name'])}}";

MultiAjaxAutoComplete('#project_team', url_busca_membro);

function formatResult(user) {
    return '<div>' + user.title + '</div>';
};

function formatSelection(data) {
    return data.title;
};

</script>
