{{extend 'layout_rede.html'}}

<h1>Editar Projeto</h1>

<section class="col col_edit_perfil_topo span_12 f-left">
    <figure class="figureStage f-left col span_4">
        <img src="" class="cursor-hand" title="Preencha seus dados pessoais" data-img-fase="1">
    </figure>
    <figure class="figureStage f-left col span_4">
        <img src="" class="cursor-hand" title="Escolha um avatar e fale sobre você" data-img-fase="2">
    </figure>
    <figure class="figureStage f-left col span_4">
        <img src="" class="cursor-hand" title="Fale sobre suas habilidades profissionais" data-img-fase="3">
    </figure>
</section>
<img src="{{=URL('static','images/Edit_perfil/barra_editar_perfil.png')}}" title="" class="w-full f-left">

<section class="col col_edit_perfil_formulario span_12 f-left">
    <!-- Inicio do formulário (tudo aqui dentro forma um unico formulário) -->
    <form id="formulario_edit_projeto">
        <section data-fase="1" data-fase-atual="true" class="col span_12 f-left edit_perfil_fases">
            <section class="span_1 col span_vazio"></section>
            <section class="span_4 col colunas">
                <span class=" h2 f-left">Nome do Projeto</span>
                <section class="section-form">
                    <input required="required" type="text" name="first_name" class="form-input-comum w-full" placeholder="{{=T('Full Name')}}">
                </section>
                <!-- Tipo de Projeto -->
                <span class=" h2 f-left w-full">Tipo de Projeto</span>
                <section class="section-form">
                        <label class="select w-50 form-input-comum form-select">
                           <select class="input-select w-full">
                               <option value="teste">Tipo 1</option>
                               <option value="teste">Tipo 1</option>
                               <option value="teste">Tipo 1</option>
                           </select>
                        </label>
                </section>
                <!-- Avatar -->
                <span class=" h2 f-left">Avatar</span>
                <section class="section-form f-left branco t-center" data-section-avatar>
                    <label class="profile-avatar-wrap">
                        <img src="{{=URL('static','images/Edit_perfil/AvatarDefault.png')}}" id="profile-avatar" alt="Image for Profile">
                        <input type="file" name="avatar" class="d-none" id="uploader">
                        <input type="hidden" value="" id="hidden-avatar">
                    </label>
                    <p class="paragrafo2 descriptionAvatar">
                        Arraste uma imagem ou clique para escolher a foto que será exibida em seu perfil. Para alterar a foto basta clicar na imagem atual. 
                    </p>
                    <p class="paragrafo2 descriptionAvatar">
                    A imagem deve ser nos formatos jpg ou png.
                    </p>
                </section>
            </section>
            <section class="span_1 col span_vazio"></section>
            <section class="span_6 col colunas">
                <span class=" h2 f-left">Descrição curta do projeto</span>
                <section class="section-form w-full f-left">
                    <textarea class="form-input-comum w-full bio" data-limite-id="bioCurta" data-limite="400" placeholder="Aqui vem uma Bio curta"></textarea>
                    <p class="paragrafo2 f-left descriptionBio">Limite de <span id="bioCurta">400</span> Caracteres </p>
                </section>
                <span class=" h2 f-left">Descrição longa do projet</span>
                <section class="section-form w-full f-left">
                    <textarea class="form-input-comum w-full bio" data-limite-id="bioLonga" data-limite="1000" placeholder="Aqui vem uma Bio completa"></textarea>
                    <p class="paragrafo2 f-left descriptionBio">Limite de <span id="bioLonga">1000</span> Caracteres </p>
                </section>
            </section>
            <div class="span_6 col f-right t-right">
                <input  type="submit" class="btn-1 f-right w-40 btn-nav" data-irParaFase="2" value="Criar">
            </div>
        </section>
       <section  data-fase="2" data-fase-atual="false" class="col span_12 f-left edit_perfil_fases">
            <section class="span_12 col span_vazio">
                <section class="span_6 col">
                    <span class=" h2 f-left">Adicionar Kolaboradores</span>
                    <section class="section-form">
                    <!-- <select class="w-full form-input-comum" name="membros" id="s2id_adicionaMembro">
                        <option value="" selected disabled>Please Select Above Field</option>
                    </select> -->
                    <input type="hidden" class="bigdrop select2-offscreen" id="adicionaMembro" style="width:600px">
                    <!-- <select id="adicionaMembro" name="select" class="select2">
                            <option value="" selected disabled>Please Select Above Field</option>
                    </select> -->
                    </section>
                </section>
                <section class="span_6 col span_vazio"></section>
            </section>
            <section class="span_4 col colunas"></section>
            <section class="span_1 col span_vazio"></section>
            <section class="span_6 col colunas"></section>
            <div class="span_6 col f-right t-right">
                <input type="button" class="btn-1 f-right w-40 btn-nav" data-irParaFase="3" value="Avançar">
                <input type="button" class="btn-2 f-right w-40 btn-nav" data-irParaFase="1" value="Voltar">
            </div>
        </section>
        <section  data-fase="3" data-fase-atual="false" class="col span_12 f-left edit_perfil_fases">
            <section class="span_1 col span_vazio"></section>
            <section class="span_4 col colunas"></section>
            <section class="span_1 col span_vazio"></section>
            <section class="span_6 col colunas"></section>
            <div class="span_6 col f-right t-right">
                <input type="button" class="btn-1 f-right w-40 btn-nav" data-irParaFase="4" value="Avançar">
                <input type="button" class="btn-2 f-right w-40 btn-nav" data-irParaFase="2" value="Voltar">
                <span class="f-right">
                    <a href="user_info">Quero Kolaborar agora e completar o perfil mais tarde</a>
                </span>
            </div>
        </section>
    </form>
</section>




























<!-- 
<script>
jQuery(document).ready(function(){
   jQuery('#projects_wanting_team').change(function(){
        if(jQuery('#projects_wanting_team').attr('checked'))
            jQuery('#projects_team_wanted__row').show();
        else jQuery('#projects_team_wanted__row').hide();});
   jQuery('#projects_wanting_other').change(function(){
        if(jQuery('#projects_wanting_other').attr('checked'))
            jQuery('#projects_other_wanted__row').show();
        else jQuery('#projects_other_wanted__row').hide();});
});

function MultiAjaxAutoComplete(element, url) {
    $(element).select2({
        placeholder: "{{=T('Search for a user')}}",
        minimumInputLength: 1,
        multiple: true,
        formatNoMatches: function(){return "{{=T('No results')}}"},
        formatSearching: function(){return "{{=T('Searching...')}}"},
        formatInputTooShort: function(){return "{{=T('Too short')}}"},

        id: function(e) { return e.id+":"+e.title; },
        ajax: {
            url: url,
            dataType: 'json',
            data: function(term, page) {

                return {
                    q: term,
                    page_limit: 10,
                };
            },
            results: function(data, page) {
                return {
                    results: data.users
                };
            }
        },
        formatResult: formatResult,
        formatSelection: formatSelection,
        initSelection: function(element, callback) {
            var data = [];
            $(element.val().split(",")).each(function(i) {
                var item = this.split(':');
                data.push({
                    id: item[0],
                    title: item[1]
                });
            });
            callback(data);
        }
    });
};

var url = "{{=URL(r=request,f='call',args=['json','get_users'])}}";

MultiAjaxAutoComplete('#projects_team', url);

function formatResult(user) {
    return '<div>' + user.title + '</div>';
};

function formatSelection(data) {
    return data.title;
};

</script> -->