{{extend 'layout_rede.html'}}
<link rel="stylesheet" href="{{=URL('static','plugins/select2-3.4.8/select2.css')}}">
<style>

</style>

<h1>Editar Perfil</h1>

<section class="col col_edit_perfil_topo span_12 f-left">
	<figure class="span_3 col">
		<img src="" class="cursor-hand" title="Preencha seus dados pessoais" data-img-fase="1">
	</figure>
	<figure class="span_3 col">
		<img src="" class="cursor-hand" title="Escolha um avatar e fale sobre você" data-img-fase="2">
	</figure>
	<figure class="span_3 col">
		<img src="" class="cursor-hand" title="Fale sobre suas habilidades profissionais" data-img-fase="3">
	</figure>
	<figure class="span_3 col">
		<img src="" class="cursor-hand" title="Formas de contato e suas redes sociais" data-img-fase="4">
	</figure>
</section>
<img src="{{=URL('static','images/Edit_perfil/barra_editar_perfil.png')}}" title="" class="w-full f-left">

<section class="col col_edit_perfil_formulario span_12 f-left">
	<!-- Inicio do formulário (tudo aqui dentro forma um unico formulário) -->
    <form  action="#" id="formulario_edicao_perfil" enctype="multipart/form-data" method="post">
        {{form.custom.widget.first_name['_placeholder'] = T("Full Name")}}
        {{form.custom.widget.first_name['_class'] = "form-input-comum w-full"}}

        {{form.custom.widget.username['_placeholder'] = T("Usuário")}}
        {{form.custom.widget.username['_class'] = "form-input-comum w-full"}}

        {{form.custom.widget.email['_type'] = "email"}}
        {{form.custom.widget.email['_placeholder'] = "email@dominio.com"}}
        {{form.custom.widget.email['_class'] = "form-input-comum w-full"}}

        {{form.custom.widget.born_on['_type'] = "date"}}
        {{form.custom.widget.born_on['_class'] = "form-input-comum w-90 form-select"}}

        {{form.custom.widget.country_id['_class'] = 'input-select w-full'}}
        {{form.custom.widget.states_id['_class'] = 'input-select w-full'}}
        {{form.custom.widget.city_id['_class'] = 'input-select w-full'}}

        {{form.custom.widget.user_available['_id'] = "checkbox"}}
        {{form.custom.widget.user_available['_value'] = "None"}}

        {{form.custom.widget.bio['_placeholder'] = "Aqui vem uma Bio"}}
        {{form.custom.widget.bio['_class'] = "bio form-input-comum"}}


		<section data-fase="1" data-fase-atual="true" class="col span_12 f-left edit_perfil_fases">
			<section class="span_5 col colunas">
				<span class=" h2 f-left">Nome Completo</span>
				<section class="section-form">
                    {{=form.custom.widget.first_name}}
					<!--<input type="text" name="first_name" class="form-input-comum w-full" placeholder="{{=T('Full Name')}}">-->
				</section>
				<span class=" h2 f-left">Nome de Usuário</span>
				<section class="section-form">
                    {{=form.custom.widget.username}}
					<!--<input type="text" name="username" class="form-input-comum w-full" placeholder="{{=T('User')}}">-->
				</section>
				<span class=" h2 f-left">Email</span>
				<section class="section-form">
                    {{=form.custom.widget.email}}
					<!--<input type="email" name="email" class="form-input-comum w-full" placeholder="email@dominio.com">-->
				</section>
			</section>

			<section class="span_1 col span_vazio"></section>

			<section class="span_6 col colunas">
				<div class="span_6 col f-left">
					<span class=" h2 f-left">Data de Nascimento</span>
					<br>
					<section class="section-form">
                        {{=form.custom.widget.born_on}}
					</section>
					<span class=" h2 f-left">Estado</span>
					<br>
					<section class="section-form">
						<label class="select w-90 form-input-comum form-select">
                            {{=form.custom.widget.states_id}}
						</label>
					</section>
					<span class=" h2 f-left">Disponibilidade</span>
					<br>
					<br>
					<section class="section-form">
						<div class="checkbox form-select verdeAgua2" data-div-label>
                            {{=form.custom.widget.user_available}}
                            <label for="checkbox" data-checkbox-label class="verdeAgua"></label>
						</div>
					</section>
				</div>
				<div class="span_6 col f-left">
					<span class=" h2 f-left">País</span>
					<br>
					<section class="section-form">
						<label class="select w-90 form-input-comum form-select">
                            {{=form.custom.widget.country_id}}
						</label>
					</section>
					<span class=" h2 f-left">Cidade</span>
					<br>
					<section class="section-form">
						<label class="select w-90 form-input-comum form-select">
                            {{=form.custom.widget.city_id}}
						</label>
					</section>
				</div>
				<div class="span_12 col f-left">
					<section class="section-form">
						<div class="" id="disponibilidades">
							{{=form.custom.widget.availability}}
						</div>
					</section>
				</div>


			</section>
			<div class="span_6 col f-right t-right">
				<input type="button" class="btn-1 f-right w-40 btn-nav" data-irParaFase="2" value="Avançar">
				<br>
				<br>
				<br>
				<span class="t-right">
					<a href="user_info">Quero Kolaborar agora e completar o perfil mais tarde</a>
				</span>
			</div>
		</section>

		<section  data-fase="2" data-fase-atual="false" class="col span_12 f-left edit_perfil_fases">
			<section class="span_1 col span_vazio"></section>
			<section class="span_5 col colunas">
				<span class=" h2 f-left">Avatar</span>
				<section class="section-form f-left {{if not my_avatar:}}branco{{pass}} t-center" data-section-avatar>
					<label class="profile-avatar-wrap">
                        {{ if my_avatar: }}
                            <img src="{{=URL(f='download', args=my_avatar)}}" id="profile-avatar" alt="Image for Profile">
                        {{ else: }}
						    <img src="{{=URL('static','images/Edit_perfil/AvatarDefault.png')}}" id="profile-avatar" alt="Image for Profile">
                        {{ pass }}
						<input type="file" name="avatar" class="d-none" id="uploader">
						<input type="hidden" value="" id="hidden-avatar">
					</label>

					<p class="paragrafo2 descriptionAvatar">
						Arraste uma imagem ou clique para escolher a foto que será exibida em seu perfil. Para alterar a foto basta clicar na imagem atual.
					</p>
					<p class="paragrafo2 descriptionAvatar">
					A imagem deve ser nos formatos jpg ou png.
					</p>
				</section>
			</section>

			<section class="span_6 col">
				<div class="span_12 col">
					<span class=" h2 f-left">Quem é você?</span>
					<section class="section-form f-left w-full">
                        {{=form.custom.widget.bio}}
						<p class="paragrafo2 f-left descriptionBio">Limite de <span data-caracteres>350</span> Caracteres </p>
					</section>
				</div>
				<div class="span_12 col">
					<section class="section-form">
						<span class=" h2 f-left">Site Pessoal</span>
						<br><br><br>
                        {{form.custom.widget.site['_class']='form-input-comum w-70'}}
                        {{form.custom.widget.site['_placeholder']='http://'}}
                        {{=form.custom.widget.site}}
					</section>
				</div>
			</section>

			<!-- Espaço dos buttons -->
			<div class="span_6 col f-right t-right">
				<input type="button" class="btn-1 f-right w-40 btn-nav" data-irParaFase="3" value="Avançar">
				<input type="button" class="btn-2 f-right w-40 btn-nav" data-irParaFase="1" value="Voltar">

				<br/>
				<span class="f-right">
					<a href="user_info">Quero Kolaborar agora e completar o perfil mais tarde</a>
				</span>
			</div>
		</section>

		<section  data-fase="3" data-fase-atual="false" class="col span_12 f-left edit_perfil_fases">
			<section class="span_12 col">
				<div class="t-center f-center w-70">
					<span class=" h2 f-left">Profissões?</span>
					<section class="section-form f-left w-full">

                    <select class="w-full form-input-comum" name="profession" id="profissoes"  multiple data-placeholder="Selecione uma profissão">
                        {{ for profession in list_professions:}}
						    <option value="{{=profession.id}}">{{=profession.name}}</option>
                        {{ pass }}
					</select>
					
					<div>
                        <ul class="list-profissao" id="list-profissao">
                            {{ if professional_data: }}
                                {{ for profession in professional_data: }}
                                  <li class="profissao t-left f-left" data-profissao="{{=professional_data[profession]['profession_id']}}">
                                        <span class="h2">{{=profession}}
                                        <img class="delete_profissao f-right" data-idProfissao="{{=professional_data[profession]['profession_id']}}" src="{{=URL('static', 'images/Edit_perfil/delete.png')}}" name="delete_profission" ></span>
                                        <select data-placeholder="adicione competencias" name="competence" data-select="{{=profession}}" class="w-full competencias" multiple data-idProfissao="{{=professional_data[profession]['profession_id']}}">
                                            {{ if professional_data[profession]['my_competencies']: }}
                                                {{ for my_comp in professional_data[profession]['my_competencies']: }}
                                                    <option value="{{=my_comp[0]}}" selected>{{=my_comp[1]}}</option>
                                                {{ pass }}
                                            {{ pass }}
                                            {{ if professional_data[profession]['others_competencies']: }}
                                                {{ for other_comp in professional_data[profession]['others_competencies']: }}
                                                    <option value="{{=other_comp[0]}}">{{=other_comp[1]}}</option>
                                                {{ pass }}
                                            {{ pass }}
                                        </select>
                                    </li>
                                {{ pass }}
                            {{ pass }}
                        </ul>
					</div>
				</section>
			</div>
		</section>
		<div class="span_6 col f-right t-right">
			<input type="button" class="btn-1 f-right w-40 btn-nav" data-irParaFase="4" value="Avançar">
			<input type="button" class="btn-2 f-right w-40 btn-nav" data-irParaFase="2" value="Voltar">
			<span class="f-right">
				<a href="user_info">Quero Kolaborar agora e completar o perfil mais tarde</a>
			</span>
		</div>
	</section>

	<section  data-fase="4" data-fase-atual="false" class="col span_12 f-left edit_perfil_fases">
		<section class="span_12 col">
			<div class="t-center f-center w-70">
				<span class=" h2 f-left">Links</span>
				<section class="section-form f-left w-full">

					<!-- select-edit-perfil -->
					<label class="select w-40 form-input-comum f-left select-edit-perfil">
                        <select class="input-select w-full" id="no_table_link_type_id" name="link_type_id">
                            <option value>Escolha o tipo de link</option>
                            {{ for type_link in others_links: }}
                                <option value="{{=type_link}}">{{=others_links[type_link]}}</option>
                            {{ pass }}
                        <select>

					</label>
						<button type="button" class="f-right btn-submit">+</button>
                        {{form_links.custom.widget.url['_class'] = 'form-input-comum usr-input-form w-50 f-right'}}
                        {{form_links.custom.widget.url['_id'] = 'network'}}
                        {{form_links.custom.widget.url['_placeholder'] = 'Selecione uma rede para habilitar esse campo'}}
                        {{form_links.custom.widget.url['_disabled'] = ''}}
                        {{=form_links.custom.widget.url}}

						
					<section id="field-links" class="w-full f-left">

                        {{ for link in my_links: }}
					    	<div class="social-field" data-link="{{=link.link_type_id}}">
					    		<img src="{{=URL('static','images/Edit_perfil/fb.png')}}" alt="">
					    		<span>
					    		<a href="{{=link.url}}" target="_blank">{{=link.url}}</a>
					    		</span>
					    		<img src="{{=URL('static','images/Edit_perfil/delete.png')}}" id="{{=link.link_type_id}}" name="delete_link" alt="">
					    	</div>
                        {{ pass }}
					<!--
					Quando o cara for editar, o link vira um input text
					o icone de editar vira um icone de confirmar (enter tambem submete)

					-->
					</section>

</section>
</div>
</section>
    {{=form.custom.end}}
<div class="span_6 col f-right t-right">
	<input type="button" class="btn-1 f-right w-40 btn-nav" data-irParaFase="4" value="Concluir">
	<input type="button" class="btn-2 f-right w-40 btn-nav" data-irParaFase="3" value="Voltar">
	<br/>
	<span class="f-right">
		<a href="user_info">Quero Kolaborar agora e completar o perfil mais tarde</a>
	</span>
</div>
</section>
</section>

<hr>
<script src="{{=URL('static','plugins/Avatar_Upload_DragInDrop/resample.js')}}"></script>
<script src="{{=URL('static','plugins/Avatar_Upload_DragInDrop/avatar.js')}}"></script>
<script src="{{=URL('static','plugins/select2-3.4.8/select2.js')}}"></script>


