{{extend 'layout_rede.html'}}

      <section class="col col_content span_6" data-device="desktop" data-conteudo="descricao">
        <figure class="logo_home t-center">
          <img src="{{=URL('static','images/logo-kolaborativa-home.png')}}" alt="Logo-Descricao-Kolaborativa">
        </figure>
        <p class="t-center font-hero h2">
          {{=T("COMMUNITY OF ENTREPRENEURS")}}          
          <br>
          {{=T("and Web professionals")}}
          
        </p>
        <p class="paragrafo2 font-museo h4">
          {{=T('"Connect with entrepnerus and internet professionals to develop your project or collaborate with other people. Cooperate. Share. KOLLABORATE!"')}}
        </p>
      </section>
      <section class="col col_content span_1"></section>
      <section class="col col_content span_5">
          {{=form_register.custom.begin}}
            {{form_register.custom.widget.first_name['_placeholder'] = T('Name')}}
            {{form_register.custom.widget.first_name['_class'] = 'form-input-comum w-full'}}

            {{form_register.custom.widget.email['_placeholder'] = 'E-mail'}}
            {{form_register.custom.widget.email['_class'] = 'form-input-comum w-full'}}

            {{form_register.custom.widget.username['_placeholder'] = T('User')}}
            {{form_register.custom.widget.username['_class'] = 'form-input-comum w-full'}}

            {{form_register.custom.widget.password['_placeholder'] = T('Password')}}
            {{form_register.custom.widget.password['_id'] = 'input-passwd'}}
            {{form_register.custom.widget.password['_class'] = 'form-input-comum w-full'}}
            
            {{form_register.custom.widget.password_two['_placeholder'] = T('Enter your password again')}}
            {{form_register.custom.widget.password_two['_id'] = 'input-passwd-two'}}
            {{form_register.custom.widget.password_two['_class'] = 'form-input-comum w-full'}}

            {{form_register.custom.submit['_value'] = T('CREATE AN ACCOUNT ON KOLABORATIVA')}}
            {{form_register.custom.submit['_class'] = 'btn-1 w-full'}}


            <span class="font-hero h2 f-left">{{=T('KOLABORATE')}}!</span> 
            <section class="section-form">
                {{=form_register.custom.widget.first_name}}
            </section>
            <section class="section-form">
                {{=form_register.custom.widget.email}}
            </section>
            <section class="section-form">
                {{=form_register.custom.widget.username}}
            </section>
            <section class="section-form">
                {{=form_register.custom.widget.password}}
            </section>
            <section class="section-form" style="display:none">
                {{=form_register.custom.widget.password_two}}
            </section>
            <section class="section-form" style="display:none">
                {{=form_register.custom.widget.user_available}}
            </section>

          <section class="section-form link">
            <input type="checkbox" class="va-bottom"> 
            <span class="link">
              Estou de acordo com os 
              <a href="#">Termos de Uso</a> e a <a href="#">Política de Privacidade</a>
            </span>
          </section>
          <section class="section-form">
            {{=form_register.custom.submit}}

          </section>
          {{=form_register.custom.end}}
        </form>
      </section>
  <script>
    
    var pas = document.querySelector('#input-passwd');
    var pas2 = document.querySelector('#input-passwd-two');
    pas.onblur = function() {
        pas2.value = pas.value;
    }

  </script>
