<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->

  <title>Kolaborativa Network - Rede social de Profissionais da Web.</title>
  <meta name="description" content="Um movimento pela criação de uma comunidade unida e ativa de Profissionais da Web." />
  <meta name="keywords" content="kolaborativa, rede social kolaborativa, compartilhar informação, aprender, inovar, empreender, colaboração, grupos de ação, eventos, comunidade." />

  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
     http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <link rel="stylesheet" href='{{=URL("static","css/normalize.css")}}' />
  <link rel="stylesheet" href='{{=URL("static","css/home-syle.css")}}' />

  <!-- Google Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Expletus+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

</head>
<body>

<a href="https://github.com/gustavox4ids/kolaborativa" target="_blank" class="navbar-fixed-top"><img style="-webkit-user-select: none; position: absolute; top: 0; left: 0; border: 0; z-index:9999;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" width="127" height="127"></a>

  <div id="container">

    <div class="column-left fleft">
      <a href="{{=URL('index')}}" alt='Rede Kolaborativa' title='Rede Kolaborativa'><h1 class="kolaborativa-rede-logotipo"></h1></a>
    </div> <!-- end column-right -->
    <div id="container-right" class="column-right fleft">
      <h2>REDE SOCIAL PARA PROFISSIONAIS DA WEB</h2>
      <p>Em breve lançaremos a plataforma social para pessoas que trabalham com internet. Você poderá compartilhar conhecimento, participar de comunidades, trocar contatos e divulgar seu trabalho. Tudo no mesmo lugar.</p>
      <p>Para saber informações sobre a estréia da rede e entrar na fila de espera para os primeiros usuários, inscreva-se com seu email no formulário abaixo:</p>
      <form action="">
        <input type="email" name="email" placeholder="seu@email.com" required>
        <input type="submit" value="entrar na lista">
      </form>
    </div> <!-- end column-right -->
    <div class="clear"></div>

  </div> <!-- end container -->

  <div id="footer">
    <div id="footer-left" class="column-left fleft">
      <div class="kolaborativa-icones-variados logo" alt='Kolaborativa Comunidade Internacional' title='Kolaborativa Comunidade Internacional'></div>
    </div> <!-- end column-right -->
    <div id="footer-right" class="column-right fleft">
      <div id="content-footer-right" class="fleft">
        <p>Com a kolaborativa, queremos criar uma comunidade de profissionais da web atual: designers, desenvolvedores, analistas de mídia social, gerentes de SEO, publicitários online, web game developers, mobile app developers, empreendedores digitais ou qualquer profissional que faz coisas para a web.</p>
        <p id="social" class="fleft">Por enquanto, entre nas comunidades online do <a href="">Google+</a> ou do <a href="">Facebook</a> para interagir com outros usuários.</p>
        <ul id="follow" class="fleft">
          <li>Acompanhe:</li>
          <a href="" alt="Facebook" title="Facebook"><li class="icon-facebook"></li></a>
          <a href="" alt="Google Plus" title="Google Plus"><li class="icon-gplus"></li></a>
          <a href="" alt="Twitter" title="Twitter"><li class="icon-twitter"></li></a>
        </ul>
      </div>
      <div id="logo-footer-right" class="fleft">
        <div id="mini-logo">
          <div alt='Rede Kolaborativa' title='Rede Kolaborativa' class="kolaborativa-logo-pequeno logo"></div>
        </div>
      </div> <!-- end column-right -->
    </div> <!-- end footer-right -->
    <div class="clear"></div>
  </div> <!-- end footer -->

<script type="text/javascript">
  var footerHeight = document.getElementById("footer").offsetHeight;
  document.getElementById("content-footer-right").style.minHeight = footerHeight + "px";
  document.getElementById("logo-footer-right").style.minHeight = footerHeight + "px";

  var resize = (function() {
    document.getElementById("container").style.minHeight = ( document.getElementsByTagName("body")[0].offsetHeight - footerHeight ) + "px";
    document.getElementById("container-right").style.minHeight = ( document.getElementsByTagName("body")[0].offsetHeight - footerHeight ) + "px";
  });

  resize();

  window.onresize = function() {
    resize();
  }

</script>
</body>
</html>

