{{extend 'layout_rede.html'}}

<section class="col col_content span_6" data-device="desktop" data-conteudo="descricao">
  <figure class="logo_home t-center">
    <img src="{{=URL('static','images/logo-kolaborativa-home.png')}}" alt="Logo-Descricao-Kolaborativa">
  </figure>
  <p class="t-center  h2">
    {{=T("COMMUNITY OF ENTREPRENEURS")}}          
    <br>
    {{=T("and Web professionals")}}

  </p>
  <p class="paragrafo2  h4">
    {{=T('"Connect with entrepnerus and internet professionals to develop your project or collaborate with other people. Cooperate. Share. KOLLABORATE!"')}}
  </p>
</section>
<section class="col col_content span_1"></section>
<section class="col col_content span_5">
  <h1 class="fw-normal">FALTA POUCO!</h1>
  <p class="h3">
    Um e-mail foi enviado para você. Verifique sua caixa de entrada e siga as instruções para concluir seu cadastro
  </p>

  
</section>
