{{extend 'layout_rede.html'}}
<div class="col span_1 span_vazio"></div>
<div class="col span_10">
<style>
  .header-principalPage{
    height: 125px;
    margin-top: 20px;
    background: white;
  }
  .list-principalPage{
    margin-top: 10px;
  }
</style>
<div class="col span_12 header-principalPage t-center">
  <h1>O que deseja fazer?</h1>
</div>
<img src="{{=URL('static','images/Edit_perfil/barra_editar_perfil.png')}}" title="" class="w-full f-left">
<ul class="nav nav-list list-principalPage">
    <li class="">
    <figure class="f-left">
      <img src="{{=URL('static','images/principal/editPerfilColorido.png')}}" alt="">
    </figure>
    <span>Editar Perfil</span>
    <p>
      Altere as informações de usuário que aparecerão publicamente em seu perfil.
    </p>
    </li>
    
    
</ul>
</div>
<div class="col span_1 span_vazio"></div>