{{extend 'layout_rede.html'}}
<div class="col span_1 span_vazio"></div>

<div class="col span_10 content-panel">
  <div class="col span_12 header-panel t-center f-left">
    <h1>O que deseja fazer?</h1>
  </div>
  <img src="{{=URL('static','images/Edit_perfil/barra_editar_perfil.png')}}" title="edit perfil" class="w-full f-left">
  <div class="col span_1 span_vazio"></div>
  <div class="col span_10">
    <ul class="nav nav-list list-panel f-lelft">
      <li class="iten-panel f-left" name="list-panel">
        <a href="{{=URL('edit_perfil')}}" class="f-left w-full" name="item-list" id="EditPerfil">
          <figure class="f-left">
            <img class="iten-panel-img" data-item="EditPerfil" src="{{=URL('static','images/panel/panel-editPerfilPretoEBranco.png')}}" alt="">
          </figure>
          <div class="f-left description-panel">
            <span class="h2">EDITAR PERFIL</span>
            <p>
              Altere as informações de usuário que aparecerão publicamente em seu perfil.
            </p>
          </div>
          <img class="f-right arrow-panel" src="{{=URL('static','images/arrow-panel.png')}}" alt="">
        </a>
      </li>
      <li class="iten-panel f-left" name="list-panel">
        <a href="{{=URL('user_info')}}" class="f-left w-full" name="item-list" id="VerPerfil">
          <figure class="f-left">
            <img class="iten-panel-img" data-item="VerPerfil" src="{{=URL('static','images/panel/painel-visualizarPerfilPretoEbranco.png')}}" alt="">
          </figure>
          <div class="f-left description-panel">
            <span class="h2">VER MEU PERFIL</span>
            <p>
              Visualizar o seu perfil público.
            </p>
          </div>
          <img class="f-right arrow-panel" src="{{=URL('static','images/arrow-panel.png')}}" alt="">
        </a>
      </li>
     
    </ul>
  </div>
  <div class="col span_1 span_vazio"></div>
</div>
<div class="col span_1 span_vazio"></div>

<script>
  var lista = document.getElementsByName("item-list");
  for (var i = 0; i < lista.length; i++) {
    lista[i].addEventListener("mouseover",function(){
      var img = document.querySelectorAll("[data-item]")
      for (var i = 0; i < img.length; i++) {
        if(img[i].getAttribute("data-item") == this.id){
          TrocaImgPainel(this,img[i],'hover');
        }
      };

    })
    lista[i].addEventListener("mouseout",function(){
      var img = document.querySelectorAll("[data-item]")
      for (var i = 0; i < img.length; i++) {
        if(img[i].getAttribute("data-item") == this.id){
          TrocaImgPainel(this,img[i],'out');
        }
      };
    })
  };

  function TrocaImgPainel(e,img,event){
    if(event == 'hover'){
      switch(e.id){
        case "EditPerfil":
          img.src = image.panel_editPerfilColor;
          break;
        case "VerPerfil":
          img.src = image.panel_verPerfilColor;
          break;

      }
    }
    else if(event == 'out'){
     switch(e.id){
      case "EditPerfil":
        img.src = image.panel_editPerfilPeB;
        break;
      case "VerPerfil":
        img.src = image.panel_verPerfilPeB;
        break;
    } 
  }
}
</script>
{{ if session.password_changed:}}
    <script>
        alert('Senha alterada com sucesso!');
    </script>
    {{del session.password_changed}}
{{ pass }}