{{extend 'layout.html'}}
{{if user != message:}}
<h1>{{=user.username}}</h1>
<div id="user_info">
<table id="profile">
<tr>
<td>
<h3>{{=T("Personal Info")}}</h3>
<b>{{=T("Name")}}:</b> {{=user.first_name}}{{=' '}}{{=user.last_name or ''}}<br>
<b>{{=T("Age")}}:</b> {{=user.age or ''}}<br>
<b>{{=T("Localization")}}:</b> {{=user.localization or ''}}<br>
<b>{{=T("Biography")}}</b><br>
{{=user.bio or ''}}
</td>
<td>
    <h3>{{=T("Professional Info")}}</h3>
    {{if professions:}}
        {{for p in professions:}}
        <ul>
            <li><b>{{=T("Profession")}}:</b> {{=p.profession}}
                <ul>
                {{if len(competencies) >= 1:}}
                    {{list_competencies=[i.competence for c in competencies for i in c if i.profession_id ==  p.id]}}
                    <li><b>{{=T("Competencies")}}:</b> {{=', '.join(list_competencies)}}</li>
                {{pass}}
                </ul>
            </li>
        </ul>

        {{pass}}
    {{else:}}
        {{=T("None")}}<br />
    {{pass}}
    <b>{{=T("E-mail")}}:</b> {{=g_return_if_empty(user.email)}}<br />
    {{if networking:}}
    	<b>{{=T("Social Networking")}}</b><br />
    	{{for s in networking:}}
    	<ul>
            {{if s.network_type == 'Twitter':}}
            <li>{{if is_url(s.network):}}<a href="{{=s.network}}" target="_blank">{{=s.network_type}}</a>{{else:}}<a href="http://twitter.com/{{=s.network}}" target="_blank">{{=s.network}}</a>{{pass}}</li>
            {{elif s.network_type == 'Facebook':}}
            <li>{{if is_url(s.network):}}<a href="{{=s.network}}" target="_blank">{{=s.network_type}}</a>{{else:}}<a href="http://facebook.com/{{=s.network}}" target="_blank">{{=s.network}}</a>{{pass}}</li>
            {{elif s.network_type == 'Google+':}}
            <li>{{if is_url(s.network):}}<a href="{{=s.network}}" target="_blank">{{=s.network_type}}</a>{{else:}}<a href="https://plus.google.com/s/{{=s.network}}" target="_blank">{{=s.network}}</a>{{pass}}</li>
            {{elif s.network_type == 'LinkedIn':}}
            <li>{{if is_url(s.network):}}<a href="{{=s.network}}" target="_blank">{{=s.network_type}}</a>{{else:}}<a href="http://linkedin.com/in/{{=s.network}}" target="_blank">{{=s.network}}</a>{{pass}}</li>
            {{elif s.network_type == 'Skype':}}
            <li>{{if is_url(s.network):}}<a href="{{=s.network}}" target="_blank">{{=s.network_type}}</a>{{else:}}<a href="skype:{{=s.network}}?userinfo">{{=s.network}}</a>{{pass}}</li>
            {{else:}}
            <li>{{=s.network}}</li>
            {{pass}}
    	</ul>
    	{{pass}}
    {{pass}}
            

<b>{{=T("Available")}}:</b> {{=T(user.user_available)}}<br />
{{if user.user_available == 'Yes':}}
  {{if user.availability:}}<b>{{=T("Availability")}}:</b> {{=', '.join(user.availability)}}<br />{{pass}}
{{pass}}
</td>

<td>
{{if not user.avatar:}}
<img src={{=URL('static', '/images/non_avatar.gif')}} width="168px" height="168px">
{{else:}}
<img src={{=URL(f='download', args=user.avatar)}} width="168px" height="168px">
{{pass}}<br /><br />
{{if auth.user_id == user.id:}}
<a class="btn" href="{{=URL('create_project')}}">{{=T("Create a new project!")}}</a>
{{pass}}
</td>
</tr>

<tr>
<td>
<h3>{{=T("My Last Project")}}</h3>
{{if last_project:}}
<h4>{{=last_project.name}}</h4><br>
<a href={{=URL('projects', args=url_get_project(last_project.name).replace(' ', '_'))}}>
{{if last_project.image:}}	<img src={{=URL(f='download', args=last_project.image)}} width="100px" height="100px" align="left">
{{else:}}
<img src={{=URL('static', 'images/non_project.png')}} width="100px" height="100px" align="left">
 {{pass}}
</a>
{{if len(last_project.description) > 255:}}
{{=last_project.description[0:255]}}... <a href='#'>Leia mais</a>
{{else:}}
{{=last_project.description}}
{{pass}}
<br>
<b>{{=T("Type")}}:</b>{{=last_project.project_type}}
{{else:}}
{{=T("None")}}
{{pass}}
</td>
<td>
<h3>{{=T("My Projects")}}</h3>
{{if my_projects:}}
<table>
<tr>
<th></th>
<th>{{=T("Name")}}</th>
<th>{{=T("Type")}}</th>
<th>{{=T("Date")}}</th>
</tr>
{{for l in my_projects:}}
<tr>
<td><a href={{=URL('projects', args=url_get_project(l.name).replace(' ', '_'))}}>
{{if l.image:}}
<img src={{=URL(f='download', args=l.image)}} width="40px" height="40px">
{{else:}}
<img src={{=URL('static', 'images/non_project.png')}} width="40px" height="40px">
{{pass}}
</a></td>
<td>{{=l.name}}</td>
<td>{{=l.project_type}}</td>
<td>{{=l.created_on}}</td>
</tr>
{{pass}}
</table>
{{if len(db(db.projects.project_owner == user).select()) > 5:}}
{{=A(T('Read more'), _href="#")}}
{{pass}}
{{else:}}
{{=T("None")}}
{{pass}}
</td>
<td>
<h3>{{=T("Projects I Colaborate")}}</h3>
{{if colaborate_projects:}}
<table>
<tr>
<th></th>
<th>{{=T("Name")}}</th>
<th>{{=T("Type")}}</th>
<th>{{=T("Date")}}</th>
<th>{{=T("Role")}}</th>
</tr>
{{for l in colaborate_projects:}}
<tr>
<td><a href={{=URL('projects', args=url_get_project(colaborate_projects[l].name).replace(' ', '_'))}}>
{{if colaborate_projects[l].image:}}
	<img src={{=URL(f='download', args=colaborate_projects[l].image)}} width="40px" height="40px">
{{else:}}
	<img src={{=URL('static', 'images/non_project.png')}} width="40px" height="40px">
{{pass}}
</a></td>
<td>{{=colaborate_projects[l].name}}</td>
<td>{{=colaborate_projects[l].project_type}}</td>
<td>{{=colaborate_projects[l].created_on}}</td>
<td>{{user_function = db((db.team_function.username == user.id)&(db.team_function.project_id == colaborate_projects[l].id)).select(db.team_function.role).as_list()}}
      		{{if user_function:}}
      			{{for x,y in user_function[0].iteritems():}}
      			{{=y}}
      			{{pass}}<br>
      		{{else:}}
      		{{=T("Undefined")}}<br>
    		{{pass}}
</td>
</tr>
{{pass}}
</table>
{{if len(colaborate_projects) > 5:}}
{{=A(T('Read more'), _href="#")}}
{{pass}}
{{else:}}
{{=T("None")}}
{{pass}}
</td>
</tr>
</table>
{{else:}}
{{=user}}
{{pass}}
