{{extend 'layout.html'}}
{{if user != message:}}
<h1>{{=user.username}}</h1>
<div id="user_info">
<h3>{{=T("Personal Info")}}</h3>
<b>{{=T("Name")}}:</b> {{=user.first_name}}{{=' '}}{{=user.last_name}}<br>
<b>{{=T("Age")}}:</b> {{=user.age}}<br>
<b>{{=T("Localization")}}:</b> {{=user.localization}}<br>
<b>{{=T("Biography")}}</b><br>
{{=user.bio}}
</div>

<div id="user_info">
<h3>{{=T("Professional Info")}}</h3>
<b>{{=T("Profession")}}:</b> {{=user.profession}}<br>
<b>{{=T("Competencies")}}:</b>{{x = len(user.competencies)-1}}
					{{for i in user.competencies:}}
						{{if i == user.competencies[x]:}}
						{{=i}}<br>
						{{else:}}
						{{=i}}, 
						{{pass}}
					{{pass}}
<b>{{=T("Social Networking")}}:</b> {{x = len(user.social_networking)-1}}
					{{for i in user.social_networking:}}
						{{if i == user.social_networking[x]:}}
						{{=i}}<br>
						{{else:}}
						{{=i}}, 
						{{pass}}
					{{pass}}
<b>{{=T("Email")}}:</b> {{=user.email}}<br>
<b>{{=T("Availability")}}:</b> {{x = len(user.availability)-1}}
					{{for i in user.availability:}}
						{{if i == user.availability[x]:}}
						{{=i}}<br>
						{{else:}}
						{{=i}}, 
						{{pass}}
					{{pass}}
</div>

<div id="avatar">
<img src={{=URL(f='download', args=user.avatar)}} width="168px" height="168px">
</div>
{{else:}}
{{=user}}
{{pass}}
