{{extend 'layout_rede.html'}}
<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
<div id="web2py_user_form" class="span6">
{{
if request.args(0)=='login':
    if not 'register' in auth.settings.actions_disabled:
        form.add_button(T('Register'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn')
    pass
    if not 'request_reset_password' in auth.settings.actions_disabled:
        form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn')
    pass
pass
=form
}}
</div>

<div class="span5">
{{if request.args(0)=='profile':}}
    {{=form_profession}}
    {{if professions:}}
        {{for p in professions:}}
        <ul>
            <li><b>{{=T("Profession")}}:</b> {{=p.profession}} 
                <div class="btn-group" style="float: right;">
                    <a href="{{=URL('delete_profession', vars={'id':p.id})}}" class="btn btn-mini delete"><i class="icon-remove"></i> {{=T('Remove')}}</a>
                    <a href="{{=URL('edit_profession', vars={'id':p.id})}}" class="btn btn-mini"><i class="icon-edit"></i> {{=T('Edit')}}</a>
                </div>
                <ul>
                {{if len(competencies) >= 1:}}
                    {{list_competencies=[i.competence for c in competencies for i in c if i.profession_id ==  p.id]}}
                    <li><b>{{=T("Competencies")}}:</b> {{=', '.join(list_competencies)}}
                    </li>
                {{pass}}
                    <li>
                        {{=form_competencies.custom.begin}}
                        {{ form_competencies.elements('#competencies_profession_id')[0] ['_name'] = "profession_id" }}
                        {{ form_competencies.elements('#competencies_profession_id')[0] ['_name'] = "profession_id" }}
                        {{ form_competencies.elements('#competencies_profession_id')[0] ['_value'] = p.id }}
                        {{ form_competencies.elements('#competencies_profession_id')[0] ['_type'] = "hidden" }}
                        {{=form_competencies.custom.widget.competence}}
                        {{=form_competencies.custom.widget.profession_id}}
                        <input type="submit" value='{{=T("add")}}'>
                        {{=form_competencies.custom.end}}
                    </li>
                </ul>
            </li>
        </ul>

        {{pass}}
    {{pass}}
    {{=form_networking}}
    {{if networking:}}
    	<ul>
            <li><b>{{=T("Social Networking")}}:</b></li>
            {{for n in networking:}}
            <li>{{=n.network}} | {{=n.network_type}} <div class="btn-group" style="float: right;">
                    <a href="{{=URL('delete_network', vars={'id':n.id})}}" class="btn btn-mini delete"><i class="icon-remove"></i> {{=T('Remove')}}</a>
                    <a href="{{=URL('edit_network', vars={'id':n.id})}}" class="btn btn-mini"><i class="icon-edit"></i> {{=T('Edit')}}</a>
                </div></li>
            {{pass}}
    	</ul>
    {{pass}}            
            
    <a href='{{=URL("user_info")}}' class="btn">{{=T("Back")}}</a>
{{pass}}
</div>

<script language="javascript"><!--
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
//--></script>

<script>
jQuery(document).ready(function(){
   jQuery('#auth_user_availability__row').hide();
   jQuery('#auth_user_user_available__row').change(function(){
        if(jQuery('#user_availableYes').attr('checked'))
            jQuery('#auth_user_availability__row').show();
        else if(jQuery('#user_availableNo').attr('checked'))
            jQuery('#auth_user_availability__row').hide();
        else jQuery('#auth_user_availability__row').hide();});
});
</script>
