{{extend 'layout_rede.html'}}
{{if user != message:}}
<!-- Espaço apresentação do Usuário -->




    <style>

        .foto-perfil{
            margin-left: 10px;
            text-align: center;
        }

        .foto-perfil img{
            border-radius: 50%;            
        }
        .apresenta-user{
            background: white;
            height:304;
            margin-top: 20px;
            padding: 0px 0px;
        }
        .barra-colorida{
            height: 2px;
        }
        .redes_sociais{
            background: #2c3e50;
            padding: 0px 10px;
            color: white;
        }

        .disponibilidade{
            margin: 7px 0px;
        }
        .disponivel{
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 50%;            
        }
        .disponivel.true{
            background: green;
        }
        .disponivel.false{
            background: red;
        }
        .edit{
            margin: 10px;
            margin-bottom: 0px;
        }
        .espacamentoBottom{
            padding-bottom: 40px;
        }

        .bloco_info{padding-left: 0px;padding-right: 0px;height: 302px;color: white;margin-top: 20px;}
            .bloco_info > h3{padding: 14px;margin-top: 0px;text-align: center;}
            .bloco_info ul{ padding-left: 20px; padding-right: 20px}
                .bloco_info ul li{ border-bottom: 1px solid white; height: 40px; padding-bottom: 10px;}
                    .bloco_info ul li .thumbnail { width: 30px; height: 30px; border-radius: 50%; margin-right: 5px ;margin-left:0px;}
                    .bloco_info ul li a{ color: white;}
                    .bloco_info ul li img{margin-left: 10px; margin-top: 7px;}
                    

        .info_user{background: #445f7a;}
            .info_user .title{background: #2c3e50;}
            .info_user ul li{ border-bottom: 0px; height: auto;padding-bottom: 14px;}
        
        .info_profissional{background: #62cd90;}
            .info_profissional .title{background: #27ae60;}
            .info_profissional ul li{border:0px; height: auto}
            .info_profissional ul li ul li {display: inline; border:0px;background: #27ae60;color: white;font-weight: 900;padding: 0px 3px;}


        .meus_projetos{ background: #e55c4e;  }
            .meus_projetos .title{background: #c0392b;}
            .meus_projetos .createProject a{float: right;color: white;font-size: 53px;padding: 0px;margin: -22px 0px; font-weight: 100;}
        
        .projetos_colaboro{background: #7cbae3;}
            .projetos_colaboro .title{background: #2980b9;}


    </style>

<section class="row span_12 f-left">
    <section class="f-left span_8 col apresenta-user">



    <img src="{{=URL('static','images/Edit_perfil/barra_editar_perfil.png')}}" title="" class="w-full f-left barra-colorida">    
    <!-- Apresentação do usuário -->
    <section class="f-left span_4 col">

        <a href="{{=URL('edit_perfil')}}">
        <img src={{=URL('static', '/images/editBlack.png')}} class="edit">
        </a>

        <!-- Foto de perfil -->
        <figure class="foto-perfil">
            {{if not user.avatar:}}
            <img src={{=URL('static', '/images/non_avatar.gif')}} width="168px" height="168px">
                 {{else:}}
            <img src={{=URL(f='download', args=user.avatar)}} width="168px" height="168px">
            {{pass}}
        </figure>

        <section class="disponibilidade">            
            {{ if user.user_available:}}                 
                <div class="disponivel f-left true"></div>
            {{else:}} 
                <div class="disponivel f-left false"></div>
            {{pass}}
            <b>{{=T("Available")}}</b> 

            {{if user.user_available:}}
                {{if user.availability:}}
                    <b>{{=T("Availability")}}:</b> 
                    {{=', '.join(user.availability)}}
                    <br />
                {{pass}}
            {{pass}}
        </section>
    </section>
    <!-- Bio usuário -->
    <section class="f-left span_6  col bio-user">
        <p>
            <h1>{{=user.username}}</h1>
            <br>
            {{=user.bio or ''}}
        </p>
        <b>Site pessoal: <a href="#">www.google.com</a></b>
    </section>
    <!-- Social - Disponibilidade -->
    <section class="f-left span_12  col redes_sociais">
        <!-- Disponibilidade -->
        
        
        <!-- Redes sociais -->
        <section class="f-left w-full">
            <h2 class="f-left">SIGA-ME:</h2>
            <ul class="list-inline f-right">
                {{ for i in my_links: }}

                    <li>
                    <a href="{{=i.url}}">
                    <img data-link="{{=i.link_type_id.name}}" name="{{=i.link_type_id.name}}" src="#" alt="{{=i.link_type_id.name}}"></a>
                    </li>

                {{ pass }}
            </ul>
            <!-- Aqui vai os links -->
        </section>
    </section>

</section>
<!-- Informações pessoais -->
<section class="f-left span_4 col bloco_info info_user">
    <h3 class="title">{{=T("Personal Info")}}</h3>
    <ul>
        <li>
        <span class="h2">
            {{=T("Name")}}: {{=user.first_name}}{{=' '}}{{=user.last_name or ''}}
        </span>
        </li>
        {{ if user.born_on: }}
        <li>
        <span class="h2">
            {{=T("Date of birth")}}: {{=user.born_on}}
        </span>
        </li>{{ pass }}
        {{ if user.country_id: }}
            <li>
            <span class="h2">
             Pais: {{=user.country_id.name}} <br>
             </span>
             </li>
            {{pass}}
            {{ if user.states_id: }} 
            <li>
            <span class="h2">
            Estado: {{=user.states_id.name}} <br>
            </span>
            </li>
            {{pass}}
            {{ if user.city_id: }} 
            <li>
            <span class="h2">
            Cidade: {{=user.city_id.name}} <br>
            </span>
            </li>
        {{pass}}
        <li>
        <span class="h2">
        {{=T("E-mail")}}: {{=g_return_if_empty(user.email)}}
        </span>
        </li>
    </ul>
</section>
</section>
<section class="row span_12 f-left espacamentoBottom">

<!-- Informações profissionais -->
<section class="f-left span_4 col bloco_info info_profissional">
   <h3 class="title">{{=T("Professional Info")}}</h3>
   <ul>
   {{if professional_data:}}
   
       {{for p in professional_data:}}
        <li><span class="h1"> {{=p}}</span>
            {{ if professional_data[p]: }}
                <ul>
                    {{ for c in professional_data[p]: }}
                        <li>{{=c}}</li>
                    {{ pass }}
                </ul>
            {{ pass }}
        </li>
        {{pass}}
    {{else:}}
        {{=T("None")}}<br />
    {{pass}}
    </ul>
</section>
<!-- Meus projetos -->
<section class="f-left span_4 col bloco_info meus_projetos">
    
     <h3 class="title">{{=T("My Projects")}}
     {{if auth.user_id == user.id:}}
     <span class="createProject">
            <a class="btn" href="{{=URL('create_project')}}" alt="Criar Projeto">+</a>
    </span>
    {{pass}}
     </h3>
     <ul>
                {{if my_projects:}}
                    {{for l in my_projects:}}
                        <li>
                        
                        <img src="#" alt="#" class="f-left thumbnail">
                            <a href={{=URL('projects', args=l.project_slug)}} class="f-left">
                                <span class="h1">{{=l.name}}</span>
                            </a>
                        <img src="{{=URL('static','images/Edit_perfil/edit.png')}}" alt="" class="f-right">
                        </li>
                    {{pass}}
                    {{if len(my_projects) > 5:}}
                        <li>{{=A(T('Read more'), _href="#")}}</li>
                    {{pass}}

                {{else:}}
                    <li>{{=T("None")}}</li>
                {{pass}}
        </ul>
</section>
<!-- Projetos que eu colaboro -->
<section class="f-left span_4 col bloco_info projetos_colaboro">
         <h3 class="title">{{=T("Projects I Colaborate")}}</h3>
                {{if colaborate_projects:}}
                <ul>
                    {{for l in colaborate_projects:}}
                    
                        <li>
                        <img src="#" alt="#" class="f-left thumbnail">
                        <a href={{=URL('projects', args=colaborate_projects[l].project_slug)}}>
                            <span class="h1">{{=colaborate_projects[l].name}}</span>
                        </a>
                        
                        {{#user_function = db((db.team_function.username == user.id)&(db.team_function.project_id == colaborate_projects[l].id)).select(db.team_function.role).as_list()}}
                            {{#if user_function:}}
                                {{#for x,y in user_function[0].iteritems():}}
                            {{#=y}}
                            {{#pass}}
                            {{#else:}}
                                 {{#=T("Undefined")}} 
                                 <!-- Pra que é isso? -->
                            {{#pass}}
                        
                        <img src="{{=URL('static','images/Edit_perfil/edit.png')}}" alt="" class="f-right">
                        <img src="{{=URL('static','images/exit.png')}}" alt="" class="f-right">
                        </li>
                    
                    {{pass}}
                </ul>
                {{if len(colaborate_projects) > 5:}}
                {{=A(T('Read more'), _href="#")}}
                {{pass}}
                {{else:}}
                {{=T("None")}}
                {{pass}}
</section>

</section>
{{else:}}
    {{=user}}
{{pass}}

<script>
    var links = document.querySelectorAll("[data-link]");
    console.log("links",links);
    for (var i = 0; i < links.length; i++) {
        switch(links[i].name){
            case "Facebook":
                links[i].src = social_ico.facebook;
                break;
            case "Twitter":
                links[i].src = social_ico.twitter;
                break;
            case "Google+":
                links[i].src = social_ico.googlePlus
                break;
            case "github":
                links[i].src = social_ico.github
                break;
            case "linkedin":
                links[i].src = social_ico.linkedin
                break;
            case "bitbucket":
                links[i].src = social_ico.bitbucket
                break;
            case "bihance":
                links[i].src = social_ico.bihance
                break;
        }
    };
</script>


