.f-left{
	float: left;
}
.f-right{
	float: right;
}
.f-center{
	margin:0 auto;
}
.w-full{
	width: 100%;
}


.a-relative{
	position: relative;
}

//Dentro de um elemento com o position relative
//essa classe coloca o elemento no bottom do elemento a cima 
//div1.relative > div2.a-bottom
//a div 2 vai ficar no bottom da div1
.a-bottom{
    position: absolute;
    bottom: 0px;
}