form,.form{
}

input,textarea,select,.form-input{
	border: none;
	outline: none;
}

input[type="submit"],input[type="button"],button{
	border:none;
	outline: none;
	padding:0px;
}

// input[type="text"],
// input[type="password"],
// input[type="email"],
// input[type="color"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="email"],
// input[type="month"],
// input[type="number"],
// input[type="range"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// input[type="week"],
// textarea,
// select,
.form-input-comum
{
	padding: 5px 0px 5px 10px;
	background: @branco;
}

.input-valido{
	border: 1px solid green;
	color:green;
}
.input-invalido{
	border: 1px solid red;
	color:red;
}

.form-select{
	height: 35px;
}

//
.select {
	position: relative;
	display: inline-block;
	// vertical-align: middle;
}

.select select {
	background-color: #FFF; /*Cor do select default*/
	color: #000;
	/*font-size: inherit;*/
	padding: .2em;
	padding-right: 2.5em;	/*Define a distancia entre a seta e o texto */
	border: 0;
	margin: 0;
	/*border-radius: 3px;*/
	text-indent: 0.01px;
	text-overflow: '';
	-webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.select::before,.select::after {
	content: "";
	position: absolute;
	pointer-events: none;
}

.select::after { 
	/*  Personalizando a seta */
	content: "\25BC"; /*Seta*/
	height: 1em;
	font-size: .625em;
	line-height: 1;
	right: 1.2em;
	top: 50%;
	margin-top: -.5em;
}

.select::before { /*  Custom dropdown arrow cover */
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;		 
}

.select::before {
	background-color: rgb(160, 160, 160);
}

.select::after {
	color: @branco+02;
}