
// -----------------------------------------------------
  #menuGlobal {width: auto;}
  #menuGlobal > ul {
    padding: 1px 0;
    margin: 0px;
    list-style: none;
    width: 100%;
    margin-top: 5px;
    height: 53px;
    font: normal 8pt verdana, arial, helvetica;
  }
  #menuGlobal > ul li {
    margin: 0;
    padding: 0;                      
    float: left;
    background: #c8c8c8;; // Submenu
    position: relative;
    width: 194px;
    height: 54px;
  }
  #menuGlobal > ul li:hover {
    background: #e6e7e7; // Submenu
  }

  #menuGlobal > ul li img{
    float: left;
    margin: 8px 0px 0px 10px;
  }
  #menuGlobal span {
    display: block;
    margin-left: 16px;
    margin-top: 14px;
    float: left;
  }
  #menuGlobal > ul li a:link,
  #menuGlobal > ul li a:visited {
    padding: 4px 0;
    display: block;
    color: #c8c8c8;                    
    text-align: left;
    text-decoration: none;                        
    width: 208px;

  }
  #menuGlobal > ul li:hover a,
  #menuGlobal > ul li a:hover,
  #menuGlobal > ul li a:active {
    padding: 4px 0;       
    color: #a0a0a0;
    text-align: left;
    text-decoration: none;
    width: 208px;
  }
  #menuGlobal > ul li ul {
          margin: 0;
          padding: 1px 1px 0;
          list-style: none;
          display: none;
          width: 192px;
          position: absolute;
          top: 53px;
          left: 0px;
          border-top: none;
          background: #e6e7e7; // Submenu
  }
  #menuGlobal > ul li ul li{
    background: #e6e7e7; // Submenu
  }
  #menuGlobal > ul li:hover ul {display: block;}
  #menuGlobal > ul li ul li {clear: left;width: 146px;}
  #menuGlobal > ul li ul li a:link,
  #menuGlobal > ul li ul li a:visited {
    clear: left;
    padding: 4px 0;
    width: 188px;
    border: none;
    position: relative;
    z-index: 1000;

  }
  #menuGlobal > ul li ul li:hover a,
  #menuGlobal > ul li ul li a:active,
  #menuGlobal > ul li ul li a:hover {
    clear: left;
    padding: 4px 0;
    width: 188px;
    border: none;
    position: relative;
    z-index: 1000;

  }