@cinza1: #e6e7e7;
@cinza2: #c8c8c8;
@cinza3: #a0a0a0;
@cinza4: #828181;
@cinza5: #4d4d4d;
@verdeAgua: #66cab3;
@verdeAgua2: #468879;
@verdeAgua3: #175749;
@azul1: #2693b1;
@branco: #ffffff;
@preto: #000000;

@citacao: #B2B2B2;


// =========================== Classes usadas na documentação ================= //
.cinza1{ background: @cinza1;}
.cinza2{ background: @cinza2;}
.cinza3{ background: @cinza3;}
.cinza4{ background: @cinza4;}
.cinza5{ background: @cinza5;}

.verdeAgua{ background: @verdeAgua;}
.verdeAgua2{ background: @verdeAgua2;}
.verdeAgua3{ background: @verdeAgua3; }

.azul1{ background: @azul1;}
.branco{ background: @branco;}
.preto{ background: @preto;}
// =========================== Classes usadas na documentação ================= //