// Variaveis
@alturaTopo: 80px;
@paddingTopo: 10px;
@larguraTela:1200px;


body{width: 100%;}

// ------------------------------------
// -----------------  [Header da Rede Social]
// -------------------------------------

.header               {  width: @larguraTela;  margin: 0 auto;  height: 60.414px;}
.col_header           {  height: 60.414px;  position: relative;}
.header-navigator     {  width: 100%;}
.topo                 {  width: 80%;  margin-left: 10%;  height: @alturaTopo;  padding-top: @paddingTopo;}
.input-search         {   width: 55%;  height: 19px;}
.input-select         {  height: 29px;}

.pesquisa             {  padding-top: 17px;  width: 50%;  height: @alturaTopo - @paddingTopo;}
.input-select-topo    {  width: 100px;}
.login-form           {  width: 36%;  height: @alturaTopo - @paddingTopo;}
.login-form a         {  color: @branco;}
.input-login          {  width: 37%;  vertical-align: bottom;}
.btn-login            {  height: 28px;  width: 72px;  font-size: 14px;}
.input-login          {  padding: 0px;  padding-left: 5px;  height: 28px;  width: 152px;}

.col_header > .a-bottom  {  margin-bottom: 10px;  right: 0;}
.content                 {  width: @larguraTela;  height: 500px;}
.contorno                {  border: 1px solid #cacaca;  padding-top: 10px;  padding-bottom: 10px;  margin-top: 10px;  margin-bottom: 10px;}
.col_content             {  height: 10px;  margin-top: 100px;}

// ------------------------------------
// -----------------  [Fim Header da Rede Social]
// -------------------------------------

// ------------------------------------
// -----------------  [Formulario de cadastro]
// -------------------------------------

.footer{  width: @larguraTela;  text-align: center;}

.displayBlock{  display: block;  transition:1s;}
.displayNone{  display: none;  transition:1s;}
.espacamentoBottom{padding-bottom: 40px;/*margin-top: -10px;*/}  



// -------------------------------- Home acima /\--------- //
.col_edit_perfil_topo{  height: 125px;  background: @branco;  border:1px solid @cinza4 ;  border-bottom:none;}
.col_edit_perfil_topo figure{  text-align: center;  padding-top: 10px;}
.col_edit_perfil_formulario {  padding-top: 25px;  min-height: 446px;  border:1px solid @cinza4;  border-top: none;  margin-bottom: 40px;}
.edit_perfil_fases{  min-height: 446px;}

// Colunas dentro dos blocos do editar perfil
.colunas{  min-height: 283px;}
.descriptionAvatar,.descriptionBio{  font-size:14px;  color: #9d9d9d;}
.bio{  min-width: 418px;  min-height: 131px;  max-width: 418px;  max-height: 131px;}

// -------------------------- Para arrumar \/ Deixar no formato less

.select-edit-perfil,.select-edit-perfil select{ height: 37px; font-size: 18px;}

.btn-submit-select{ padding: 0px 12px;  border: 0px;  background: black;  color: white;  /*Coisas do botão*/  font-size: 38px;  height: 60px;  width: 52px;}
.usr-input-form{  height: 40px;}
.usr-btn-form{  height: 50px;  font-size: 30px;  padding: 0px 6px;  width: 45px;  background:#828181;}
.social-field{  margin-top: 20px;  background: #66cab3;  height: 55px;  text-align: left;  float: left;  /*min-width: 48%;*/  margin-left: 5px;  box-sizing: border-box;}
.social-field img{  vertical-align: middle;  padding: 16px 13px;  cursor:pointer;}
.social-field span{  color: white;  font-weight: bold;  margin-left: 12px;  font-size: 16px;  vertical-align: middle;}
.social-field a{  font-size: 16px;  vertical-align: middle;}
.input-editar{  background: #FFFFFF;  height: 25px;  vertical-align: middle;}
.profissao{  width: 32%;  min-height: 100px;  margin: 0px 0.5%;  background: #7cbae3;  display: inline-block;  margin-bottom: 10px;}
.profissao > span{  margin-left: 11px;  color: @branco;}
.profissao > .select2-container-multi .select2-choices .select2-search-choice {    background: #2980b9;    font-style: italic;    box-shadow: none;    color: #ffffff;    border: none;    border-radius: 0px;}
.profissao > .select2-container-multi .select2-choices .select2-search-field input{  background: #bcd4e4;  margin: 0px 4px;  padding-left: 17px;}
.competencias{  margin-top: 10px !important;}
.delete_profissao{  cursor: pointer;  margin-right: 16px;  margin-top: 4px;}

// ------------------- Painel Principal -----------------------------
// --------------------/
// --------------------//
.content-panel           {padding: 0px;  border:1px solid black;  margin-top:40px;}
.header-panel            {height: 125px;  background: white;}
.header-panel h1         {font-size: 47px;font-weight: normal;}
.list-panel              {margin-top: 10px;}
.description-panel       {margin-top: 25px;  margin-left: 35px;}
.iten-panel              {width: 100%;  height: 125px;}
.iten-panel a span       {color:red;}
.iten-panel a:hover span {color:black;}
.iten-panel a:hover p    {color:white;}
.iten-panel:hover        {background:#66cab3;}
.arrow-panel             {margin-top: 35px;  margin-right: 15px;}
.iten-panel-img          {margin-left: 10px;  margin-top: 4px;}




  // --------------------------------------- Perfil do Usuário -----------------------//
.apresenta-user{background: white;max-height: 316px;min-height: 316px;margin-top: 20px;padding: 0px 0px;}
    .apresenta-user .foto-perfil{margin-left: 10px;text-align: center;}
        .apresenta-user .foto-perfil img{border-radius: 50%;}
    .apresenta-user .edit{margin: 10px;    margin-bottom: 0px;}

.apresenta-user .barra-colorida{height: 2px;}
.apresenta-user .disponibilidade{margin: 7px 0px;}
.descricao{height: 264px;}
.apresenta-user .disponivel{width: 20px;height: 20px;margin-right:10px;border-radius:50%;}
    .apresenta-user .disponivel.true{background: green;}
    .apresenta-user .disponivel.false{background: red;}

.apresenta-user .redes_sociais{background: #2c3e50;padding: 0px 10px;color: white; margin-top: 14px;}

.bloco_info{padding-left: 0px;padding-right: 0px;min-height: 333px; color: white;margin-top: 20px;}

    .bloco_info > .title{padding: 14px;margin-top: 0px; margin-bottom: 0px}
    .bloco_info .title{font-weight: normal}
    .bloco_info ul{ padding-left: 20px; padding-right: 20px}
        .bloco_info ul li{ border-bottom: 1px solid white; height: 50px; vertical-align: sub; padding-top: 15px;}
            .bloco_info ul li .thumbnail { width: 50px; height: 50px;margin-top: -9px; border-radius: 50%; margin-right: 5px ;margin-left:0px;}
            .bloco_info ul li a{ color: white;}
            .bloco_info ul li img{margin-left: 10px; }
            

.bloco_info.info_basica{background: #445f7a;}
    .bloco_info.info_basica .title{background: #2c3e50;}
    .bloco_info.info_basica ul li{ border-bottom: 0px; height: auto;padding-bottom: 14px; padding-top: 0px;}

.info_profissional{background: #62cd90;}
    .info_profissional .title{background: #27ae60;}
    .info_profissional ul li{border:0px; height: auto}
    .info_profissional ul li ul li {display: inline; border:0px;background: #27ae60;color: white;font-weight: 900;padding: 0px 3px;}


.meus_projetos{ background: #e55c4e;  }
    .meus_projetos .title{background: #c0392b;}
    .meus_projetos .createProject a{float: right;color: white;font-size: 53px;padding: 0px;margin: -22px 0px; font-weight: 100;}

.projetos_colaboro{background: #7cbae3;}
    .projetos_colaboro .title{background: #2980b9;}




// -------------------------------------------- Editar Projeto ----------- --------------//
.thumbnail-member{margin: auto 0px 3% 0px;;width: 16%;text-align: center;}
    .thumbnail-member img{ border-radius: 50%;}

// ------------------------ Pagina do projeto -------------------- //
.proj_col{padding: 0px;}

// Bloco do projeto video! 
.bloco_info.video{background: #e55c4e;}
.bloco_info.video .title{background: #c0392b;}

// Bloco do projeto slideshare! 
.bloco_info.slideshare{background: #fed634;}
.bloco_info.slideshare .title{background: #dda715;}


.youtube,.slides{width: 90%;height: 265px;margin: 15px auto;display: block;}

// Bloco do projeto procura_membros! 
.bloco_info.procura_membros{background: #62cd90;}
.bloco_info.procura_membros .title{background: #27ae60;}
.bloco_info.procura_membros ul li{border:0px; height: auto}
.bloco_info.procura_membros ul li ul li {display: inline; border:0px;background: #27ae60;color: white;font-weight: 900;padding: 0px 3px;}


// Bloco do projeto link! 
.bloco_info.link{background: #95a5a6;}
.bloco_info.link .title{background: #7f8c8d;}

// Bloco do projeto descrição completa! 
.bloco_info.desc_completa{background: white;}
    .bloco_info.desc_completa .title{background: #16a085;}
    .bloco_info.desc_completa p{color: black;padding: 14px;}

// Bloco do projeto membros! 
.bloco_info.equipe{background: #7cbae3;}
.bloco_info.equipe .title{background: #2980b9;}

    .bloco_info.equipe .search-equipe{width: 82%;height: 25px; }
    .bloco_info.equipe .membro-equipe{width: 78px; text-align: center;  margin:15px;}

        .bloco_info.equipe .avatar-membro{width: 56px;height: 56px;border-radius: 50%;}
        .bloco_info.equipe .membro-descricao{}

// Bloco do projeto comentarios! 
.bloco_info.comentarios{background: #b185c1;}
    .bloco_info.comentarios .title{background: #9b50ba;}

    .bloco_info.comentarios .comentarios{margin:14px;}
    .bloco_info.comentarios .post-comentario-projeto{ background: #9b50ba;height: 130px;}

    // Bloco de postagem do comentário --------
    .bloco_info.comentarios  .avatar-usuario{padding: 14px;box-sizing: border-box;text-align: center;}
    .bloco_info.comentarios  .avatar-usuario img {width: 60px;border-radius: 50%;}
    .bloco_info.comentarios .post-comentario-projeto .texto-comentario{margin: 0px;margin-top: 10px;height: 67px;}
    .bloco_info.comentarios .post-comentario-projeto .btn-1 { margin-top: 10px;font-weight: bold;font-size: 22px; }
    // Bloco de postagem do comentário --------

    // Bloco comentário já postado ----------
    .bloco_info.comentarios .comentario-postado{margin: 10px auto;}
    .bloco_info.comentarios .comentario-postado .corpo-comentario{background: #9b50ba;  margin: 0px;margin-top: 10px;min-height: 90px;padding-bottom: 10px;    }
    .bloco_info.comentarios .comentario-postado .corpo-comentario:before{
        content:"";
        float: left;
        width: 0;
        height: 0;
        margin-left: -15px;
        margin-top: 20px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 20px solid #9b50ba;
    }
    .bloco_info.comentarios .comentario-postado .comentario{margin: 0px;padding: 10px;box-sizing: border-box;    }
