@alturaTopo: 80px;
@paddingTopo: 10px;
body{
  width: 100%;  
}
@larguraTela:1200px;
.header{
  width: @larguraTela;
  margin: 0 auto;
  height: 60.414px;
}
.col_header{
  height: 60.414px;
  position: relative;

}
.header-navigator{
  width: 100%;
}
.topo{
  width: 80%;
  margin-left: 10%;
  height: @alturaTopo;
  padding-top: @paddingTopo;
}
.input-search{
  // width: 125px;
  width: 58%;
}
.input-select{
  height: 29px;
}

.pesquisa{
  padding-top: 17px;
  width: 50%;
  height: @alturaTopo - @paddingTopo;
}
.input-select-topo{
  width: 100px;
}
.login-form{

  width: 36%;
  height: @alturaTopo - @paddingTopo;
}
.login-form a{
  color: @branco;
}
.input-login{
  width: 37%;
  vertical-align: bottom;
}
.btn-login{
  height: 28px;
  width: 72px;
  font-size: 14px;
}
.input-login{
  padding: 0px;
  padding-left: 5px;
  height: 26px;
  width: 152px;
}

.col_header > .a-bottom{
  margin-bottom: 10px;
  right: 0;
}
.content{
  width: @larguraTela;
  height: 500px;
}

.col_content{
  height: 10px;
  margin-top: 100px;
}

.form-register{
  // margin-top:  22px;
  // width: 394px;
}
.section-form{
  margin-bottom: 11px;
}
.section-form > input[type="text"],
.section-form > input[type="email"],
.section-form > input[type="password"]
{
  
  height: 36px;
}

.footer{
  width: @larguraTela;
  text-align: center;
}

// -------------------------------- Home acima /\--------- //

.col_edit_perfil_topo{
  height: 125px;
  background: @branco;
  border:1px solid @cinza4 ;
  border-bottom:none;
}
.col_edit_perfil_topo figure{
  text-align: center;
  padding-top: 10px;
}

.col_edit_perfil_formulario {
  padding-top: 25px;
  height: 446px;
  border:1px solid @cinza4;
  border-top: none;
}
.edit_perfil_fases{
  height: 446px;
}