@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: 'Hero';
    src: url('../fonts/hero-webfont.eot');
    src: url('../fonts/hero-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero-webfont.woff') format('woff'),
         url('../fonts/hero-webfont.ttf') format('truetype'),
         url('../fonts/hero-webfont.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLatinBlack-Italic';
    src: url('../fonts/Lato/LatoLatinBlack-Italic.eot');
    src: url('../fonts/Lato/LatoLatinBlack-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinBlack-Italic.woff') format('woff'),
         url('../fonts/Lato/LatoLatinBlack-Italic.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinBlack-Italic.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLatinBlack-Regular';
    src: url('../fonts/Lato/LatoLatinBlack-Regular.eot');
    src: url('../fonts/Lato/LatoLatinBlack-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinBlack-Regular.woff') format('woff'),
         url('../fonts/Lato/LatoLatinBlack-Regular.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinBlack-Regular.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLatin-Bold';
    src: url('../fonts/Lato/LatoLatin-Bold.eot');
    src: url('../fonts/Lato/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatin-Bold.woff') format('woff'),
         url('../fonts/Lato/LatoLatin-Bold.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatin-Bold.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLatin-BoldItalic';
    src: url('../fonts/Lato/LatoLatin-BoldItalic.eot');
    src: url('../fonts/Lato/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatin-BoldItalic.woff') format('woff'),
         url('../fonts/Lato/LatoLatin-BoldItalic.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatin-BoldItalic.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
// 
@font-face {
    font-family: 'LatoLatinExtBd-Italic';
    src: url('../fonts/Lato/LatoLatinExtBd-Italic.eot');
    src: url('../fonts/Lato/LatoLatinExtBd-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinExtBd-Italic.woff') format('woff'),
         url('../fonts/Lato/LatoLatinExtBd-Italic.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinExtBd-Italic.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLatinExtBd-Regular';
    src: url('../fonts/Lato/LatoLatinExtBd-Regular.eot');
    src: url('../fonts/Lato/LatoLatinExtBd-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinExtBd-Regular.woff') format('woff'),
         url('../fonts/Lato/LatoLatinExtBd-Regular.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinExtBd-Regular.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLatinHair-Italic';
    src: url('../fonts/Lato/LatoLatinHair-Italic.eot');
    src: url('../fonts/Lato/LatoLatinHair-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinHair-Italic.woff') format('woff'),
         url('../fonts/Lato/LatoLatinHair-Italic.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinHair-Italic.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLatinHair-Regular';
    src: url('../fonts/Lato/LatoLatinHair-Regular.eot');
    src: url('../fonts/Lato/LatoLatinHair-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinHair-Regular.woff') format('woff'),
         url('../fonts/Lato/LatoLatinHair-Regular.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinHair-Regular.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLatin-Italic';
    src: url('../fonts/Lato/LatoLatin-Italic.eot');
    src: url('../fonts/Lato/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatin-Italic.woff') format('woff'),
         url('../fonts/Lato/LatoLatin-Italic.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatin-Italic.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLatinLight-Italic';
    src: url('../fonts/Lato/LatoLatinLight-Italic.eot');
    src: url('../fonts/Lato/LatoLatinLight-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinLight-Italic.woff') format('woff'),
         url('../fonts/Lato/LatoLatinLight-Italic.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinLight-Italic.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLatinLight-Regular';
    src: url('../fonts/Lato/LatoLatinLight-Regular.eot');
    src: url('../fonts/Lato/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinLight-Regular.woff') format('woff'),
         url('../fonts/Lato/LatoLatinLight-Regular.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinLight-Regular.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLatinMed-Italic';
    src: url('../fonts/Lato/LatoLatinMed-Italic.eot');
    src: url('../fonts/Lato/LatoLatinMed-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinMed-Italic.woff') format('woff'),
         url('../fonts/Lato/LatoLatinMed-Italic.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinMed-Italic.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLatinMed-Regular';
    src: url('../fonts/Lato/LatoLatinMed-Regular.eot');
    src: url('../fonts/Lato/LatoLatinMed-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinMed-Regular.woff') format('woff'),
         url('../fonts/Lato/LatoLatinMed-Regular.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinMed-Regular.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLatin-Regular';
    src: url('../fonts/Lato/LatoLatin-Regular.eot');
    src: url('../fonts/Lato/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatin-Regular.woff') format('woff'),
         url('../fonts/Lato/LatoLatin-Regular.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatin-Regular.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLatinSemBd-Italic';
    src: url('../fonts/Lato/LatoLatinSemBd-Italic.eot');
    src: url('../fonts/Lato/LatoLatinSemBd-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinSemBd-Italic.woff') format('woff'),
         url('../fonts/Lato/LatoLatinSemBd-Italic.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinSemBd-Italic.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLatinSemBd-Regular';
    src: url('../fonts/Lato/LatoLatinSemBd-Regular.eot');
    src: url('../fonts/Lato/LatoLatinSemBd-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinSemBd-Regular.woff') format('woff'),
         url('../fonts/Lato/LatoLatinSemBd-Regular.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinSemBd-Regular.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLatinThin-Regular';
    src: url('../fonts/Lato/LatoLatinThin-Regular.eot');
    src: url('../fonts/Lato/LatoLatinThin-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinThin-Regular.woff') format('woff'),
         url('../fonts/Lato/LatoLatinThin-Regular.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinThin-Regular.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLatinThin-Italic';
    src: url('../fonts/Lato/LatoLatinThin-Italic.eot');
    src: url('../fonts/Lato/LatoLatinThin-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/LatoLatinThin-Italic.woff') format('woff'),
         url('../fonts/Lato/LatoLatinThin-Italic.ttf') format('truetype'),
         url('../fonts/Lato/LatoLatinThin-Italic.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Museo';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Socialico';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-hero{
        font-family: Hero;
}
.font-museo{
    font-family: Museo;
}
.font-lato{
    font-family: Lato;
}
.font-icon{
    font-family: 'Socialico';
    font-size: 5rem;
    color:@cinza4;
}

*{
	// font-family: 'Open Sans', sans-serif;
    font-family: LatoLatinBlack-Italic;
	font-size: 14px;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0.4979232333264em;
}

.h1,.h2,.h3,.h4,.h5,.h6{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0.4979232333264em;
}

h1,.h1{font-size: 2em;}
h2,.h2{font-size: 1.5em;}
h3,.h3{font-size: 1.17em;}
h4,.h4{font-size: 1em;}
h5,.h5{font-size: 0.83em;}
h6,.h6{font-size: 0.67em;}

a{
    color:@verdeAgua2;
}
a,.link{
    font-family: Lato;
    font-size: 12px;
}
.t-center{
	text-align: center;
}
.t-justify{
	text-align: justify;
}
.t-right{
    text-align: right;
}
.t-left{
    text-align: left;
}
.va-middle{
    vertical-align: middle;
}
.va-text-bottom{
    vertical-align: text-bottom;
}
.va-bottom{
    vertical-align: bottom;
}
.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
}
.underline{
	text-decoration: underline;
}
.paragrafo1{
	font-size: 18px
}
.paragrafo2{
	font-size: 16px
}
.citacao:before{
	content: open-quote;
}
.citacao{
	color:@citacao;
	font-weight: 16px;
	font-style: italic;
	font-weight: bold;
}
.citacao:after{
	content: close-quote;
}