<html>
<center>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#f4f4f4;height:100%!important;width:100%!important">
    <tbody><tr>
    <td align="center" valign="top" style="border-collapse:collapse">
        <table border="0" cellpadding="10" cellspacing="0" width="100%" style="border-collapse:collapse;background-color:#000000;border-bottom:0">
            <tbody><tr>
                <td align="center" valign="top" style="border-collapse:collapse">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                    <tbody><tr>
                        <td valign="top" style="border-collapse:collapse;color:#ffffff;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">{{=T('You are one step closer to the new social network professional Kolaborativa.')}}
                        </td>
                        <td valign="top" width="220" style="padding-left:20px;border-collapse:collapse;color:#ffffff;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">{{=T('Can not read normally?')}}<br>
<a href="http://us6.campaign-archive2.com/?u=79b4456a0da703b06c415299e&amp;id=8f6042cd92&amp;e=" style="color:#ffffff;font-weight:normal;text-decoration:underline" target="_blank">{{=T('View in your browser.')}}</a> </td>
                            </tr>
                    </tbody></table>
                </td>
            </tr>
            </tbody></table>
                        
                        
    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
        <tbody><tr>
            <td align="center" valign="top" style="border-collapse:collapse">
                                    
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                <tbody><tr>
                    <td align="center" valign="top" style="border-collapse:collapse">
                    </td>
                </tr>
                </tbody></table>
                                    
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" style="border-collapse:collapse">
                                    
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                <tbody><tr>
                    <td align="center" valign="top" style="padding-top:12px;border-collapse:collapse">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                        <tbody><tr>
                            <td align="center" valign="top" style="padding-bottom:12px;border-collapse:collapse">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                <tbody><tr>
                                    <td valign="top" style="border-collapse:collapse">
                                    <a href="http://kolaborativa.com" target="_blank"><img src="https://gallery.mailchimp.com/79b4456a0da703b06c415299e/images/rede_social_topo.png" alt="" border="0" width="600" height="250"></a>
                                    </td>
                                </tr>
                                </tbody></table>
                            </td>
                        </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="border-collapse:collapse">
                    <table border="0" cellpadding="20" cellspacing="0" width="100%" style="border-collapse:collapse;background-color:#fff;border-top:0;border-bottom:0">
                        <tbody><tr>
                        <td align="center" valign="top" style="border-collapse:collapse">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                            <tbody><tr>
                            <td valign="top" style="border-collapse:collapse;color:#505050;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">
{{=T('Thank you!')}} {{=T('Now you are subscribed in our wait list.')}} {{=T('Wait for news about our professional social network.')}} :)<br><br>
{{=T('While the social network does not come out, make sure you enter our')}} <a href="https://plus.google.com/communities/101487760441194668968" style="color:#505050;font-weight:normal;text-decoration:underline" target="_blank">{{=T('Communities on Google+')}} </a>{{=T('and')}} <a href="http://www.facebook.com/groups/kolaborativa/" style="color:#505050;font-weight:normal;text-decoration:underline" target="_blank">{{=T('Facebook Group')}}</a>.<br>
{{=T('Interact, share links and tips, get help and enjoy the space.')}}<br>
<br>
{{=T('With the new network, you can publicize your work, get partners or freelancers for your projects and interact with other professionals and creative entrepreneurs. We will send more information to you.')}}<br>
<br>
{{=T('Stay tuned to your email and on our official website')}}: <a href="http://kolaborativa.com" style="color:#505050;font-weight:normal;text-decoration:underline" target="_blank">www.kolaborativa.com</a>
<h1 style="color:#505050;display:block;font-family:Helvetica;font-size:30px;font-weight:bold;line-height:100%;letter-spacing:normal;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">
    &nbsp;</h1>
</td>
                </tr>
                </tbody></table>
                </td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" style="padding-bottom:40px;border-collapse:collapse">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                <tbody><tr>
                <td align="center" valign="top" style="padding-top:12px;border-collapse:collapse">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                    <tbody><tr>
                    <td valign="top" style="border-collapse:collapse">
                        <a href="http://kolaborativa.com" target="_blank"><img src="https://gallery.mailchimp.com/79b4456a0da703b06c415299e/images/rede_social_baixo.png" alt="" border="0" width="600" height="200"></a>
                        </td>
                        </tr>
                        </tbody></table>
                    </td>
                    </tr>
                    </tbody></table>
                </td>
                </tr>
                </tbody></table>
                                    
            </td>
            </tr>
            <tr>
                <td align="center" valign="top" style="border-collapse:collapse">
                                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-top:0">
                        <tbody><tr>
                            <td align="center" valign="top" style="padding-bottom:40px;border-collapse:collapse">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                <tbody><tr>
                                <td valign="top" style="border-collapse:collapse;color:#808080;font-family:Helvetica;font-size:10px;line-height:150%;text-align:left"><i>{{=T('Kolaborativa - community for entrepreneurs and web professionals')}}</i><br>
<a href="http://kolaborativa.com" style="color:#808080;font-weight:normal;text-decoration:underline" target="_blank">www.kolaborativa.com</a><br>
<br>
</tr>
                    </tbody></table>
                    </td>
                    </tr>
                        </tbody></table>
                                    
                        </td>
                        </tr>
                        </tbody></table>
                        
                    </td>
                </tr>
            </tbody></table>
        </center>
</html>