/* New fonts */

@font-face {
    font-family: 'Hero';
    src: url('../fonts/hero-webfont.eot');
    src: url('../fonts/hero-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero-webfont.woff') format('woff'),
         url('../fonts/hero-webfont.ttf') format('truetype'),
         url('../fonts/hero-webfont.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Socialico';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* End of font-face */

body {
	background-image: url(../images/bg_kolab.png);
    background-position: center;
	background-repeat: no-repeat;
	background-color: #e6e7e7; 
	height: 100%;
    margin: 0;
    padding: 0;
}


header {
    height: auto;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Hero', Arial, sans-serif;
    font-size: 25px;
    color: #5b5b5c;
    letter-spacing: 2px;
}

header p {
    font-family: 'Hero', Arial, sans-serif;
    font-size: 22px;
    color: #5b5b5c;
    letter-spacing: 2px;
    margin-top: 20px;
}

article {
    margin-top: 10%;
    height: auto;
    text-align: center;
    color: #5b5b5c;
    display: block;
}


article p {
    font-family: 'Museo', Arial, sans-serif;
    font-size: 20px;
}

.ajust {
    max-width: 700px;
    margin: 0 auto;
}

.ajust a {
    text-decoration: none;
    font-family: 'Hero', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #5b5b5c;
}

.ajust a:hover{
    color: #858585;
}

form {
    margin: 0 5px;
}

input[type="email"] {
    height: 45px;
    font-family: 'Museo', Arial, sans-serif;
    font-size: 20px;
    color: #5b5b5c;
    padding-left: 15px;
    float: left;
    border: none;
    border-radius: 0;
    margin: 0;
}

input[type="submit"] {
    height: 45px;
    background-color: #66cab3;
    border: none;
    font-family: 'Hero', Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin: 0;
}

input[type="submit"]:hover {
    background-color: #258771;
}

footer {
    margin-top: 50px;
    text-align: center;
}

footer .row-fluid a {
    text-decoration: none;
    font-family: "Socialico";
    font-size: 70px;
    color: #929291;
}

footer a:hover {
    color: #858585;
}

div.flash {
    display:none;
    position:fixed;
    padding:10px;
    top:48px;
    right:50px;
    min-width:280px;
    opacity:0.95;
    margin:0px 0px 10px 10px;
    vertical-align:middle;
    cursor:pointer;
    color:#fff;
    background-color:#000;
    border:2px solid #fff;
    border-radius:8px;
    -o-border-radius: 8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-image: -webkit-linear-gradient(top,#222,#000);
    background-image: -o-linear-gradient(top,#222,#000);
    background-image: -moz-linear-gradient(90deg, #222, #000);
    background-image: linear-gradient(top,#222,#000);
    background-repeat: repeat-x;
    font-family: "Hero", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index:2000;
}

div.flash #closeflash{color:inherit; float:right; margin-left:15px;}
.ie-lte7  div.flash #closeflash
{color:expression(this.parentNode.currentStyle['color']);float:none;position:absolute;right:4px;}

div.flash:hover { opacity:0.25; }
