@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.cinza1 {
  background: #e6e7e7;
}
.cinza2 {
  background: #c8c8c8;
}
.cinza3 {
  background: #a0a0a0;
}
.cinza4 {
  background: #828181;
}
.cinza5 {
  background: #4d4d4d;
}
.vermelho1 {
  background: #c0392b;
}
.vermelho2 {
  background: #e55c4e;
}
.verdeAgua {
  background: #66cab3;
}
.verdeAgua2 {
  background: #468879;
}
.verdeAgua3 {
  background: #175749;
}
.azul1 {
  background: #2693b1;
}
.azul2 {
  background: #7cbae3;
}
.branco {
  background: #ffffff;
}
.preto {
  background: #000000;
}
@font-face {
  font-family: 'Hero';
  src: url('../fonts/hero-webfont.eot');
  src: url('../fonts/hero-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/hero-webfont.woff') format('woff'), url('../fonts/hero-webfont.ttf') format('truetype'), url('../fonts/hero-webfont.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinBlack-Italic';
  src: url('../fonts/Lato/LatoLatinBlack-Italic.eot');
  src: url('../fonts/Lato/LatoLatinBlack-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinBlack-Italic.woff') format('woff'), url('../fonts/Lato/LatoLatinBlack-Italic.ttf') format('truetype'), url('../fonts/Lato/LatoLatinBlack-Italic.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinBlack-Regular';
  src: url('../fonts/Lato/LatoLatinBlack-Regular.eot');
  src: url('../fonts/Lato/LatoLatinBlack-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinBlack-Regular.woff') format('woff'), url('../fonts/Lato/LatoLatinBlack-Regular.ttf') format('truetype'), url('../fonts/Lato/LatoLatinBlack-Regular.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatin-Bold';
  src: url('../fonts/Lato/LatoLatin-Bold.eot');
  src: url('../fonts/Lato/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatin-Bold.woff') format('woff'), url('../fonts/Lato/LatoLatin-Bold.ttf') format('truetype'), url('../fonts/Lato/LatoLatin-Bold.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatin-BoldItalic';
  src: url('../fonts/Lato/LatoLatin-BoldItalic.eot');
  src: url('../fonts/Lato/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatin-BoldItalic.woff') format('woff'), url('../fonts/Lato/LatoLatin-BoldItalic.ttf') format('truetype'), url('../fonts/Lato/LatoLatin-BoldItalic.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinExtBd-Italic';
  src: url('../fonts/Lato/LatoLatinExtBd-Italic.eot');
  src: url('../fonts/Lato/LatoLatinExtBd-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinExtBd-Italic.woff') format('woff'), url('../fonts/Lato/LatoLatinExtBd-Italic.ttf') format('truetype'), url('../fonts/Lato/LatoLatinExtBd-Italic.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinExtBd-Regular';
  src: url('../fonts/Lato/LatoLatinExtBd-Regular.eot');
  src: url('../fonts/Lato/LatoLatinExtBd-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinExtBd-Regular.woff') format('woff'), url('../fonts/Lato/LatoLatinExtBd-Regular.ttf') format('truetype'), url('../fonts/Lato/LatoLatinExtBd-Regular.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinHair-Italic';
  src: url('../fonts/Lato/LatoLatinHair-Italic.eot');
  src: url('../fonts/Lato/LatoLatinHair-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinHair-Italic.woff') format('woff'), url('../fonts/Lato/LatoLatinHair-Italic.ttf') format('truetype'), url('../fonts/Lato/LatoLatinHair-Italic.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinHair-Regular';
  src: url('../fonts/Lato/LatoLatinHair-Regular.eot');
  src: url('../fonts/Lato/LatoLatinHair-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinHair-Regular.woff') format('woff'), url('../fonts/Lato/LatoLatinHair-Regular.ttf') format('truetype'), url('../fonts/Lato/LatoLatinHair-Regular.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatin-Italic';
  src: url('../fonts/Lato/LatoLatin-Italic.eot');
  src: url('../fonts/Lato/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatin-Italic.woff') format('woff'), url('../fonts/Lato/LatoLatin-Italic.ttf') format('truetype'), url('../fonts/Lato/LatoLatin-Italic.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinLight-Italic';
  src: url('../fonts/Lato/LatoLatinLight-Italic.eot');
  src: url('../fonts/Lato/LatoLatinLight-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinLight-Italic.woff') format('woff'), url('../fonts/Lato/LatoLatinLight-Italic.ttf') format('truetype'), url('../fonts/Lato/LatoLatinLight-Italic.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinLight-Regular';
  src: url('../fonts/Lato/LatoLatinLight-Regular.eot');
  src: url('../fonts/Lato/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinLight-Regular.woff') format('woff'), url('../fonts/Lato/LatoLatinLight-Regular.ttf') format('truetype'), url('../fonts/Lato/LatoLatinLight-Regular.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinMed-Italic';
  src: url('../fonts/Lato/LatoLatinMed-Italic.eot');
  src: url('../fonts/Lato/LatoLatinMed-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinMed-Italic.woff') format('woff'), url('../fonts/Lato/LatoLatinMed-Italic.ttf') format('truetype'), url('../fonts/Lato/LatoLatinMed-Italic.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinMed-Regular';
  src: url('../fonts/Lato/LatoLatinMed-Regular.eot');
  src: url('../fonts/Lato/LatoLatinMed-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinMed-Regular.woff') format('woff'), url('../fonts/Lato/LatoLatinMed-Regular.ttf') format('truetype'), url('../fonts/Lato/LatoLatinMed-Regular.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatin-Regular';
  src: url('../fonts/Lato/LatoLatin-Regular.eot');
  src: url('../fonts/Lato/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatin-Regular.woff') format('woff'), url('../fonts/Lato/LatoLatin-Regular.ttf') format('truetype'), url('../fonts/Lato/LatoLatin-Regular.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinSemBd-Italic';
  src: url('../fonts/Lato/LatoLatinSemBd-Italic.eot');
  src: url('../fonts/Lato/LatoLatinSemBd-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinSemBd-Italic.woff') format('woff'), url('../fonts/Lato/LatoLatinSemBd-Italic.ttf') format('truetype'), url('../fonts/Lato/LatoLatinSemBd-Italic.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinSemBd-Regular';
  src: url('../fonts/Lato/LatoLatinSemBd-Regular.eot');
  src: url('../fonts/Lato/LatoLatinSemBd-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinSemBd-Regular.woff') format('woff'), url('../fonts/Lato/LatoLatinSemBd-Regular.ttf') format('truetype'), url('../fonts/Lato/LatoLatinSemBd-Regular.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinThin-Regular';
  src: url('../fonts/Lato/LatoLatinThin-Regular.eot');
  src: url('../fonts/Lato/LatoLatinThin-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinThin-Regular.woff') format('woff'), url('../fonts/Lato/LatoLatinThin-Regular.ttf') format('truetype'), url('../fonts/Lato/LatoLatinThin-Regular.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLatinThin-Italic';
  src: url('../fonts/Lato/LatoLatinThin-Italic.eot');
  src: url('../fonts/Lato/LatoLatinThin-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/LatoLatinThin-Italic.woff') format('woff'), url('../fonts/Lato/LatoLatinThin-Italic.ttf') format('truetype'), url('../fonts/Lato/LatoLatinThin-Italic.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url('../fonts/museo500-regular-webfont.eot');
  src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo500-regular-webfont.woff') format('woff'), url('../fonts/museo500-regular-webfont.ttf') format('truetype'), url('../fonts/museo500-regular-webfont.svg#museo500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Socialico';
  src: url('../fonts/socialico-webfont.eot');
  src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/socialico-webfont.woff') format('woff'), url('../fonts/socialico-webfont.ttf') format('truetype'), url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-hero {
  font-family: Hero;
}
.font-museo {
  font-family: Museo;
}
.font-lato {
  font-family: Lato;
}
.font-icon {
  font-family: 'Socialico';
  font-size: 5rem;
  color: #828181;
}
* {
  font-family: LatoLatinLight-Regular;
  font-size: 14px;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.4979232333264em;
}
h1,
.h1 {
  font-size: 2em;
}
h2,
.h2 {
  font-size: 1.5em;
}
h3,
.h3 {
  font-size: 1.17em;
}
h4,
.h4 {
  font-size: 1em;
}
h5,
.h5 {
  font-size: 0.83em;
}
h6,
.h6 {
  font-size: 0.67em;
}
a {
  color: #468879;
}
a,
.link {
  font-size: 16px;
}
.t-center {
  text-align: center;
}
.t-justify {
  text-align: justify;
}
.t-right {
  text-align: right;
}
.t-left {
  text-align: left;
}
.va-middle {
  vertical-align: middle;
}
.va-text-bottom {
  vertical-align: text-bottom;
}
.va-bottom {
  vertical-align: bottom;
}
.italic {
  font-style: italic;
}
.fw-normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.paragrafo1 {
  font-size: 18px;
}
.paragrafo2 {
  font-size: 16px;
}
.citacao:before {
  content: open-quote;
}
.citacao {
  color: #b2b2b2;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}
.citacao:after {
  content: close-quote;
}
/**
 * Gridpak Beta LESS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
/* Reusable column setup */
.mixin-col {
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
.col {
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
.mixin-span_first {
  margin-left: 0;
}
/* 1. 12 Column Grid 0px - 318px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    7.41666666667%
    Span 2:    15.8333333333%
    Span 3:    24.25%
    Span 4:    32.6666666667%
    Span 5:    41.0833333333%
    Span 6:    49.5%
    Span 7:    57.9166666667%
    Span 8:    66.3333333333%
    Span 9:    74.75%
    Span 10:    83.1666666667%
    Span 11:    91.5833333333%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 318px) {
  .col {
    margin-left: 1%;
    padding: 0 0.5%;
  }
  /* --- Gridpak variables ---*/
  .row .col:first-child {
    margin-left: 0;
  }
  /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        
        */
  .span_1 {
    width: 7.41666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_2 {
    width: 15.83333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_3 {
    width: 24.25%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_4 {
    width: 32.66666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_5 {
    width: 41.08333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_6 {
    width: 49.5%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_7 {
    width: 57.91666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_8 {
    width: 66.33333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_9 {
    width: 74.75%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_10 {
    width: 83.16666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_11 {
    width: 91.58333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_12 {
    margin-left: 0;
    width: 100%;
  }
}
/* 2. 12 Column Grid 319px - 759px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    6.5%
    Span 2:    15.0%
    Span 3:    23.5%
    Span 4:    32.0%
    Span 5:    40.5%
    Span 6:    49.0%
    Span 7:    57.5%
    Span 8:    66.0%
    Span 9:    74.5%
    Span 10:    83.0%
    Span 11:    91.5%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */
@media screen and (min-width: 319px) and (max-width: 759px) {
  .col {
    margin-left: 2%;
    padding: 0 0.5%;
  }
  /* --- Gridpak variables ---*/
  .row .col:first-child {
    margin-left: 0;
  }
  .span_1 {
    width: 6.5%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_2 {
    width: 15%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_3 {
    width: 23.5%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_4 {
    width: 32%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_5 {
    width: 40.5%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_6 {
    width: 49%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_7 {
    width: 57.5%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_8 {
    width: 66%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_9 {
    width: 74.5%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_10 {
    width: 83%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_11 {
    width: 91.5%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 2%;
  }
  .span_12 {
    margin-left: 0;
    width: 100%;
  }
}
/* 3. 12 Column Grid 760px - 1199px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    7.41666666667%
    Span 2:    15.8333333333%
    Span 3:    24.25%
    Span 4:    32.6666666667%
    Span 5:    41.0833333333%
    Span 6:    49.5%
    Span 7:    57.9166666667%
    Span 8:    66.3333333333%
    Span 9:    74.75%
    Span 10:    83.1666666667%
    Span 11:    91.5833333333%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .col {
    margin-left: 1%;
    padding: 0 0.5%;
  }
  /* --- Gridpak variables ---*/
  .row .col:first-child {
    margin-left: 0;
  }
  .span_1 {
    width: 7.41666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_2 {
    width: 15.83333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_3 {
    width: 24.25%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_4 {
    width: 32.66666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_5 {
    width: 41.08333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_6 {
    width: 49.5%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_7 {
    width: 57.91666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_8 {
    width: 66.33333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_9 {
    width: 74.75%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_10 {
    width: 83.16666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_11 {
    width: 91.58333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_12 {
    margin-left: 0;
    width: 100%;
  }
}
/* 4. 12 Column Grid 1200px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    7.41666666667%
    Span 2:    15.8333333333%
    Span 3:    24.25%
    Span 4:    32.6666666667%
    Span 5:    41.0833333333%
    Span 6:    49.5%
    Span 7:    57.9166666667%
    Span 8:    66.3333333333%
    Span 9:    74.75%
    Span 10:    83.1666666667%
    Span 11:    91.5833333333%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  .col {
    margin-left: 1%;
    padding: 0 0.5%;
  }
  /* --- Gridpak variables ---*/
  .row .col:first-child {
    margin-left: 0;
  }
  .span_1 {
    width: 7.41666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_2 {
    width: 15.83333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_3 {
    width: 24.25%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_4 {
    width: 32.66666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_5 {
    width: 41.08333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_6 {
    width: 49.5%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_7 {
    width: 57.91666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_8 {
    width: 66.33333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_9 {
    width: 74.75%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_10 {
    width: 83.16666667%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_11 {
    width: 91.58333333%;
    border-left-width: 0;
    padding: 0 0.5%;
    margin-left: 1%;
  }
  .span_12 {
    margin-left: 0;
    width: 100%;
  }
}
.span_vazio {
  height: 1px;
}
* {
  outline: none;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.f-center {
  margin: 0 auto;
}
.w-full {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-70 {
  width: 70%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}
.a-relative {
  position: relative;
}
.d-none {
  display: none;
}
.a-bottom {
  position: absolute;
  bottom: 0px;
}
.cursor-hand:hover {
  cursor: pointer;
}
ul {
  padding-left: 0px;
}
li {
  list-style-type: none;
}
.list-inline {
  display: inline-flex;
}
.list-inline li {
  margin-right: 10px;
}
.btn-nav {
  font-size: 24px;
}
.btn-submit {
  height: 47px;
  color: white;
  background: #a0a0a0;
  border: none;
  padding: 0px 13px;
  margin-left: 10px;
}
.btn-1 {
  margin: 0px 5px;
  height: 36px;
  background: #66cab3;
  color: #fff;
  border-bottom: 3px solid #468879;
  padding: 3px;
}
.btn-1:hover {
  background: #468879;
  border-bottom: 3px solid #468879;
}
.btn-1:active {
  background: #175749;
  border-bottom: 3px solid #468879;
  padding-right: 0px;
}
.btn-2 {
  margin: 0px 5px;
  height: 36px;
  background: #a0a0a0;
  color: #fff;
  border-bottom: 3px solid #828181;
  padding: 3px;
}
.btn-2:hover {
  background: #828181;
  border-bottom: 3px solid #828181;
}
.btn-2:active {
  background: #4d4d4d;
  border-bottom: 3px solid #828181;
  padding-right: 0px;
}
.btn-3 {
  margin: 0px 5px;
  height: 36px;
  background: #7cbae3;
  color: #fff;
  border-bottom: 3px solid #2693b1;
  padding: 3px;
}
.btn-3:hover {
  background: #2693b1;
  border-bottom: 3px solid #2693b1;
}
.btn-3:active {
  background: #7cbae3;
  border-bottom: 3px solid #2693b1;
  padding-right: 0px;
}
input,
textarea,
select,
.form-input {
  border: none;
  outline: none;
}
.form-input-comum::-webkit-input-placeholder,
.form-input-comum::-moz-placeholder {
  color: #999999;
  font-family: LatoLatin-Regular;
  font-size: 16px;
  font-style: bold;
}
.form-input-comum {
  padding: 5px 0px 5px 10px;
  background: #ffffff;
}
.input-valido {
  border: 1px solid green;
  color: green;
}
.input-invalido {
  border: 1px solid red;
  color: red;
}
.form-select {
  height: 35px;
}
.form-select[type="date"] {
  text-align: center;
  font-size: 22px;
  color: #acacac;
}
.select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}
.select select {
  background-color: #FFF;
  /*Cor do select default*/
  color: #000;
  padding: .2em;
  padding-right: 2.5em;
  /*Define a distancia entre a seta e o texto */
  border: 0;
  margin: 0;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
}
select:disabled,
input:disabled {
  color: #c8c8c8;
  background: #e6e7e7;
  border: 1px solid #c8c8c8;
}
.select::before,
.select::after {
  content: "";
  position: absolute;
  pointer-events: none;
}
.select::after {
  /*  Personalizando a seta */
  content: "\25BC";
  /*Seta*/
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}
.select::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
}
.select::before {
  background-color: #a0a0a0;
}
.select::after {
  color: #ffffff;
}
.checkbox {
  width: 93%;
  position: relative;
}
.checkbox:after {
  top: 20%;
  content: url(../images/checkbox/error.png);
  /*Imagem que define negativo*/
  position: absolute;
  right: 10px;
  z-index: 0;
}
.checkbox:before {
  top: 20%;
  content: url(../images/checkbox/ok.png);
  /*Imagem que define o positivo*/
  position: absolute;
  left: 10px;
  z-index: 0;
}
.checkbox label {
  display: block;
  width: 45%;
  height: 82%;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
  padding-top: 3px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.checkbox input[type=checkbox] {
  visibility: hidden;
}
.checkbox input[type=checkbox]:checked + label {
  left: 52%;
}
.check-box input[type="checkbox"] {
  visibility: hidden;
}
/*Custom checkbox*/
.check-box {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
  margin: 2px 7px 0 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ccc;
}
.check-box i {
  background: url('http://cdn1.iconfinder.com/data/icons/mimiGlyphs/16/check_mark.png') no-repeat center center;
  position: absolute;
  left: 3px;
  bottom: -17px;
  width: 16px;
  height: 16px;
  opacity: .5;
}
.checkedBox {
  -moz-box-shadow: inset 0 0 5px 1px #ccc;
  -webkit-box-shadow: inset 0 0 5px 1px #ccc;
  box-shadow: inset 0 0 5px 1px #ccc;
  border-bottom-color: #fff;
}
.checkedBox i {
  bottom: 2px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
#disponibilidades div {
  display: inline-flex;
}
#disponibilidades div li {
  padding: 6px;
  margin-left: 12px;
}
#disponibilidades div li label {
  vertical-align: super;
  margin-right: 5px;
}
.dropdown.projetos {
  left: 0;
}
.dropdown.projetos {
  z-index: 1;
  width: 50%;
}
.dropdown.perfil {
  z-index: 2;
  width: 8%;
}
.dropdown.config {
  z-index: 3;
}
.dropdown.projetos:hover,
.dropdown.perfil:hover,
.dropdown.config:hover {
  z-index: 4;
}
.dropdown.perfil {
  left: 252px;
}
.dropdown.projetos img,
.dropdown.perfil img,
.dropdown.config img {
  vertical-align: middle;
  margin-right: 10px;
}
.dropdown ul {
  font-family: Arial, Verdana;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dropdown ul li {
  padding: 4px 10px;
  background: #c8c8c8;
  display: block;
  position: relative;
  float: left;
}
.dropdown ul li:hover {
  border: 1px solid #beb2b2;
  border-bottom: 0px;
  background: #e6e7e7;
  margin-left: -1px;
  padding-right: 9px;
}
.dropdown li ul {
  display: none;
}
.dropdown ul li a {
  display: block;
  text-decoration: none;
  color: #c8c8c8;
  margin-left: 1px;
  white-space: nowrap;
}
.dropdown ul li:hover a {
  color: #a0a0a0;
}
.dropdown li:hover ul {
  width: 100%;
  display: block;
  position: absolute;
}
.dropdown li:hover li {
  float: none;
  width: 100%;
  background: #e6e7e7;
  font-size: 11px;
  border-top: 0px;
  padding: 10px 12px;
}
.dropdown li:hover li a {
  float: left;
}
.dropdown li:hover li:hover {
  background: #66cab3;
}
.dropdown ul li {
  display: block;
  float: left;
}
.dropdown li:hover ul {
  display: block;
  position: absolute;
  left: 0px;
}
.dropdown li:hover li {
  float: left;
  font-size: 11px;
}
.img-grande {
  width: 300px;
  height: 215px;
}
.thumbnail-pequena {
  width: 44px;
  height: 50px;
}
body {
  width: 100%;
}
.header {
  width: 1200px;
  margin: 0 auto;
  height: 60.414px;
}
.col_header {
  height: 60.414px;
  position: relative;
}
.header-navigator {
  width: 100%;
}
.topo {
  width: 80%;
  margin-left: 10%;
  height: 80px;
  padding-top: 10px;
}
.input-search {
  width: 55%;
  height: 19px;
}
.input-select {
  height: 29px;
}
.pesquisa {
  padding-top: 17px;
  width: 50%;
  height: 70px;
}
.input-select-topo {
  width: 100px;
}
.login-form {
  width: 36%;
  height: 70px;
}
.login-form a {
  color: #ffffff;
}
.input-login {
  width: 37%;
  vertical-align: bottom;
}
.btn-login {
  height: 28px;
  width: 72px;
  font-size: 14px;
}
.input-login {
  padding: 0px;
  padding-left: 5px;
  height: 28px;
  width: 152px;
}
.col_header > .a-bottom {
  margin-bottom: 10px;
  right: 0;
}
.content {
  width: 1200px;
  height: 500px;
}
.contorno {
  border: 1px solid #cacaca;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.col_content {
  height: 10px;
  margin-top: 100px;
}
.section-form {
  margin-bottom: 11px;
}
.section-form input[type="text"],
.section-form input[type="email"],
.section-form input[type="password"] {
  height: 36px;
}
.footer {
  width: 1200px;
  text-align: center;
}
.col_edit_perfil_topo {
  height: 125px;
  background: #ffffff;
  border: 1px solid #828181;
  border-bottom: none;
}
.col_edit_perfil_topo figure {
  text-align: center;
  padding-top: 10px;
}
.col_edit_perfil_formulario {
  padding-top: 25px;
  min-height: 446px;
  border: 1px solid #828181;
  border-top: none;
  margin-bottom: 40px;
}
.edit_perfil_fases {
  min-height: 446px;
}
.displayBlock {
  display: block;
  transition: 1s;
}
.displayNone {
  display: none;
  transition: 1s;
}
.colunas {
  min-height: 283px;
}
.descriptionAvatar,
.descriptionBio {
  font-size: 14px;
  color: #9d9d9d;
}
.bio {
  min-width: 418px;
  min-height: 131px;
  max-width: 418px;
  max-height: 131px;
}
.select-edit-perfil,
.select-edit-perfil select {
  height: 37px;
  font-size: 18px;
}
.btn-submit-select {
  padding: 0px 12px;
  border: 0px;
  background: black;
  color: white;
  /*Coisas do botão*/
  font-size: 38px;
  height: 60px;
  width: 52px;
}
.usr-input-form {
  height: 40px;
}
.usr-btn-form {
  height: 50px;
  font-size: 30px;
  padding: 0px 6px;
  width: 45px;
  background: #828181;
}
.social-field {
  margin-top: 20px;
  background: #66cab3;
  height: 55px;
  text-align: left;
  float: left;
  /*min-width: 48%;*/
  margin-left: 5px;
  box-sizing: border-box;
}
.social-field img {
  vertical-align: middle;
  padding: 16px 13px;
  cursor: pointer;
}
.social-field span {
  color: white;
  font-weight: bold;
  margin-left: 12px;
  font-size: 16px;
  vertical-align: middle;
}
.social-field a {
  font-size: 16px;
  vertical-align: middle;
}
.input-editar {
  background: #FFFFFF;
  height: 25px;
  vertical-align: middle;
}
.profissao {
  width: 32%;
  min-height: 100px;
  margin: 0px 0.5%;
  background: #7cbae3;
  display: inline-block;
  margin-bottom: 10px;
}
.profissao > span {
  margin-left: 11px;
  color: #ffffff;
}
.profissao > .select2-container-multi .select2-choices .select2-search-choice {
  background: #2980b9;
  font-style: italic;
  box-shadow: none;
  color: #ffffff;
  border: none;
  border-radius: 0px;
}
.profissao > .select2-container-multi .select2-choices .select2-search-field input {
  background: #bcd4e4;
  margin: 0px 4px;
  padding-left: 17px;
}
.competencias {
  margin-top: 10px !important;
}
.delete_profissao {
  cursor: pointer;
  margin-right: 16px;
  margin-top: 4px;
}
.content-panel {
  padding: 0px;
  border: 1px solid black;
  margin-top: 40px;
}
.header-panel {
  height: 125px;
  background: white;
}
.header-panel h1 {
  font-size: 47px;
  font-weight: normal;
}
.list-panel {
  margin-top: 10px;
}
.description-panel {
  margin-top: 25px;
  margin-left: 35px;
}
.iten-panel {
  width: 100%;
  height: 125px;
}
.iten-panel a span {
  color: red;
}
.iten-panel a:hover span {
  color: black;
}
.iten-panel a:hover p {
  color: white;
}
.iten-panel:hover {
  background: #66cab3;
}
.arrow-panel {
  margin-top: 35px;
  margin-right: 15px;
}
.iten-panel-img {
  margin-left: 10px;
  margin-top: 4px;
}
.thumbnail-member {
  margin: 10px 0px;
  text-align: center;
}
.thumbnail-member img {
  border-radius: 50%;
}
#projects_project_links_grow_input li {
  margin: 5px auto;
}
.apresenta-user {
  background: white;
  max-height: 316px;
  min-height: 316px;
  margin-top: 20px;
  padding: 0px 0px;
}
.apresenta-user .foto-perfil {
  margin-left: 10px;
  text-align: center;
}
.apresenta-user .foto-perfil img {
  border-radius: 50%;
}
.apresenta-user .edit {
  margin: 10px;
  margin-bottom: 0px;
}
.apresenta-user .barra-colorida {
  height: 2px;
}
.apresenta-user .disponibilidade {
  margin: 7px 0px;
}
.apresenta-user .disponivel {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}
.apresenta-user .disponivel.true {
  background: green;
}
.apresenta-user .disponivel.false {
  background: red;
}
.apresenta-user .redes_sociais {
  background: #2c3e50;
  padding: 0px 10px;
  color: white;
  margin-top: 14px;
}
.espacamentoBottom {
  padding-bottom: 40px;
  /*margin-top: -10px;*/
}
.bloco_info {
  padding-left: 0px;
  padding-right: 0px;
  min-height: 333px;
  color: white;
  margin-top: 20px;
}
.bloco_info > h2 {
  padding: 14px;
  margin-top: 0px;
  text-align: center;
}
.bloco_info .title {
  font-weight: normal;
}
.bloco_info ul {
  padding-left: 20px;
  padding-right: 20px;
}
.bloco_info ul li {
  border-bottom: 1px solid white;
  height: 50px;
  vertical-align: sub;
  padding-top: 15px;
}
.bloco_info ul li .thumbnail {
  width: 50px;
  height: 50px;
  margin-top: -9px;
  border-radius: 50%;
  margin-right: 5px ;
  margin-left: 0px;
}
.bloco_info ul li a {
  color: white;
}
.bloco_info ul li img {
  margin-left: 10px;
}
.info_user {
  background: #445f7a;
}
.info_user .title {
  background: #2c3e50;
}
.info_user ul li {
  border-bottom: 0px;
  height: auto;
  padding-bottom: 14px;
  padding-top: 0px;
}
.info_profissional {
  background: #62cd90;
}
.info_profissional .title {
  background: #27ae60;
}
.info_profissional ul li {
  border: 0px;
  height: auto;
}
.info_profissional ul li ul li {
  display: inline;
  border: 0px;
  background: #27ae60;
  color: white;
  font-weight: 900;
  padding: 0px 3px;
}
.meus_projetos {
  background: #e55c4e;
}
.meus_projetos .title {
  background: #c0392b;
}
.meus_projetos .createProject a {
  float: right;
  color: white;
  font-size: 53px;
  padding: 0px;
  margin: -22px 0px;
  font-weight: 100;
}
.projetos_colaboro {
  background: #7cbae3;
}
.projetos_colaboro .title {
  background: #2980b9;
}
